.scrollbar::-webkit-scrollbar-track {
  background-color: transparent; }

.scrollbar::-webkit-scrollbar {
  width: 18px;
  background-color: transparent; }

.scrollbar::-webkit-scrollbar-thumb {
  border: 6px solid #f2f2f2;
  border-radius: 30px;
  background: #b3b3b3; }

.box {
  background: #fff;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16);
  border-radius: 5px;
  padding: 20px; }

.swiper-container {
  position: fixed;
  top: 0 !important;
  left: 0 !important;
  width: 100vw !important;
  height: 100vh !important; }

.swiper-slide {
  width: 100vw !important;
  height: 92vh !important; }

.swiper-pagination {
  position: fixed !important;
  bottom: 0 !important;
  width: 100vw !important;
  height: 8vh !important;
  background: #fff;
  border-top: 1px solid #f2f2f2; }

.swiper-pagination-bullet {
  width: calc(100% / 3) !important;
  height: 100%;
  margin: 0 !important;
  background: transparent;
  border-radius: 0;
  text-align: center;
  opacity: 1;
  font-family: FontAwesome;
  font-size: 4vh !important;
  color: #b3b3b3 !important; }
  .swiper-pagination-bullet:after {
    position: absolute;
    width: calc(100% / 3);
    height: 8vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
  .swiper-pagination-bullet:nth-of-type(1):after {
    content: '\f0c9'; }
  .swiper-pagination-bullet:nth-of-type(2):after {
    content: '\f0e6'; }
  .swiper-pagination-bullet:nth-of-type(3):after {
    content: '\f00c'; }

.swiper-pagination-bullet-active {
  background: transparent !important;
  color: #1a1a1a !important; }

h1 {
  font-size: 26px; }

input, button, p, a, pre {
  font-size: 12px; }

pre {
  min-height: 20px;
  white-space: pre-wrap;
  word-wrap: break-word;
  text-align: center;
  margin: 20px 0; }

.login-box {
  padding: 20px; }
  .login-box form {
    width: 90%; }
  .login-box .logo {
    width: 150px; }

.app-box .app-projects {
  position: inherit; }
  .app-box .app-projects li {
    min-height: 50px; }

.app-box .app-chat {
  position: inherit;
  margin-left: 0; }
  .app-box .app-chat .message-box {
    width: 100%;
    margin: 0 10px; }
  .app-box .app-chat input {
    width: calc(100% - 20px);
    margin: 0 10px -5px 10px; }
  .app-box .app-chat .input-icon {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: -5px; }

.app-box .app-todo {
  position: inherit; }
  .app-box .app-todo select {
    min-height: 50px; }

.app-box .commands-box {
  display: none; }
