.scrollbar::-webkit-scrollbar-track {
  background-color: transparent; }

.scrollbar::-webkit-scrollbar {
  width: 18px;
  background-color: transparent; }

.scrollbar::-webkit-scrollbar-thumb {
  border: 6px solid #f2f2f2;
  border-radius: 30px;
  background: #b3b3b3; }

.ng-enter {
  -webkit-animation: fadeIn both .3s;
  animation: fadeIn both .3s;
  -webkit-animation-delay: .3s;
  animation-delay: .3s; }

.ng-leave {
  -webkit-animation: fadeOut both .3s;
  animation: fadeOut both .3s; }

@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-webkit-keyframes fadeOut {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

@keyframes fadeOut {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

@-webkit-keyframes scaleIn {
  from {
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0);
    opacity: 0; }
  to {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 1; } }

@keyframes scaleIn {
  from {
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0);
    opacity: 0; }
  to {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 1; } }

@-webkit-keyframes scaleOut {
  from {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 1; }
  to {
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0);
    opacity: 0; } }

@keyframes scaleOut {
  from {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 1; }
  to {
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0);
    opacity: 0; } }

@-webkit-keyframes fromTop {
  from {
    -webkit-transform: translateY(-100vh);
    transform: translateY(-100vh);
    opacity: 0; }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; } }

@keyframes fromTop {
  from {
    -webkit-transform: translateY(-100vh);
    transform: translateY(-100vh);
    opacity: 0; }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; } }

@-webkit-keyframes fromLeft {
  from {
    -webkit-transform: translateX(-100vw);
    transform: translateX(-100vw);
    opacity: 0; }
  to {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1; } }

@keyframes fromLeft {
  from {
    -webkit-transform: translateX(-100vw);
    transform: translateX(-100vw);
    opacity: 0; }
  to {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1; } }

@-webkit-keyframes fromRight {
  from {
    -webkit-transform: translateX(100vw);
    transform: translateX(100vw);
    opacity: 0; }
  to {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1; } }

@keyframes fromRight {
  from {
    -webkit-transform: translateX(100vw);
    transform: translateX(100vw);
    opacity: 0; }
  to {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1; } }

@-webkit-keyframes fromBot {
  from {
    -webkit-transform: translateY(100vh);
    transform: translateY(100vh);
    opacity: 0; }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; } }

@keyframes fromBot {
  from {
    -webkit-transform: translateY(100vh);
    transform: translateY(100vh);
    opacity: 0; }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; } }

@-webkit-keyframes toTop {
  from {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; }
  to {
    -webkit-transform: translateY(-100vh);
    transform: translateY(-100vh);
    opacity: 0; } }

@keyframes toTop {
  from {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; }
  to {
    -webkit-transform: translateY(-100vh);
    transform: translateY(-100vh);
    opacity: 0; } }

@-webkit-keyframes toLeft {
  from {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1; }
  to {
    -webkit-transform: translateX(-100vw);
    transform: translateX(-100vw);
    opacity: 0; } }

@keyframes toLeft {
  from {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1; }
  to {
    -webkit-transform: translateX(-100vw);
    transform: translateX(-100vw);
    opacity: 0; } }

@-webkit-keyframes toRight {
  from {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1; }
  to {
    -webkit-transform: translateX(100vw);
    transform: translateX(100vw);
    opacity: 0; } }

@keyframes toRight {
  from {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1; }
  to {
    -webkit-transform: translateX(100vw);
    transform: translateX(100vw);
    opacity: 0; } }

@-webkit-keyframes toBot {
  from {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; }
  to {
    -webkit-transform: translateY(100vh);
    transform: translateY(100vh);
    opacity: 0; } }

@keyframes toBot {
  from {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; }
  to {
    -webkit-transform: translateY(100vh);
    transform: translateY(100vh);
    opacity: 0; } }

.box {
  background: #fff;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16);
  border-radius: 5px;
  padding: 40px; }

.ghost {
  background: #f2f2f2;
  padding: 10px;
  border-radius: 5px; }

.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.div {
  width: 100%;
  height: 1px;
  background: #b3b3b3;
  margin: 10px 0; }

.vdiv {
  width: 1px;
  height: 100%;
  background: #b3b3b3;
  margin: 0 10px; }

.dot {
  width: 8px;
  height: 8px;
  display: block;
  border-radius: 50%; }

.btn {
  cursor: pointer;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16);
  padding: 10px 20px;
  background: #19b5fe;
  color: #f2f2f2;
  border-radius: 5px;
  text-align: center; }
  .btn:hover {
    background: #b3b3b3; }

.label {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 2px 10px;
  border-radius: 20px;
  color: #f2f2f2;
  text-align: center; }

.link {
  cursor: pointer;
  color: #19b5fe;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.text {
  width: 100%;
  min-width: 250px;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16);
  padding: 15px 25px;
  background: #f2f2f2;
  border-radius: 5px; }
  .text:focus {
    background: #e5e5e5; }

.outter-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  z-index: -1; }

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 50%;
  margin: auto;
  min-width: 200px;
  min-width: 100px;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  opacity: 0;
  z-index: -1; }

.show-modal {
  z-index: 999;
  bottom: 0;
  opacity: 1; }

.flat {
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.26);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.26); }

.light {
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16); }

.dark {
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.26);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.26); }

.hgrad {
  background: #FF4E50;
  background: -webkit-linear-gradient(to right, #F9D423, #FF4E50);
  background: -webkit-gradient(linear, left top, right top, from(#F9D423), to(#FF4E50));
  background: -webkit-linear-gradient(left, #F9D423, #FF4E50);
  background: -o-linear-gradient(left, #F9D423, #FF4E50);
  background: linear-gradient(to right, #F9D423, #FF4E50); }

.vgrad {
  background: #FF4E50;
  background: -webkit-linear-gradient(to bottom, #F9D423, #FF4E50);
  background: -webkit-gradient(linear, left top, left bottom, from(#F9D423), to(#FF4E50));
  background: -webkit-linear-gradient(top, #F9D423, #FF4E50);
  background: -o-linear-gradient(top, #F9D423, #FF4E50);
  background: linear-gradient(to bottom, #F9D423, #FF4E50); }

.swiper-container {
  position: fixed;
  top: 0 !important;
  left: 0 !important;
  width: 100vw !important;
  height: 100vh !important; }

.swiper-slide {
  width: 100vw !important;
  height: 92vh !important; }

.swiper-pagination {
  position: fixed !important;
  bottom: 0 !important;
  width: 100vw !important;
  height: 8vh !important;
  background: #fff;
  border-top: 1px solid #f2f2f2; }

.swiper-pagination-bullet {
  width: calc(100% / 3) !important;
  height: 100%;
  margin: 0 !important;
  background: transparent;
  border-radius: 0;
  text-align: center;
  opacity: 1;
  font-family: FontAwesome;
  font-size: 4vh !important;
  color: #b3b3b3 !important; }
  .swiper-pagination-bullet:after {
    position: absolute;
    width: calc(100% / 3);
    height: 8vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
  .swiper-pagination-bullet:nth-of-type(1):after {
    content: '\f0c9'; }
  .swiper-pagination-bullet:nth-of-type(2):after {
    content: '\f0e6'; }
  .swiper-pagination-bullet:nth-of-type(3):after {
    content: '\f00c'; }

.swiper-pagination-bullet-active {
  background: transparent !important;
  color: #1a1a1a !important; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  color: #1a1a1a;
  image-rendering: crisp-edges;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Fira Sans'; }

html, body, main {
  width: 100vw;
  overflow-x: hidden;
  background: #f2f2f2; }

a {
  color: #19b5fe;
  text-decoration: none; }

pre {
  min-height: 20px;
  white-space: pre-wrap;
  word-wrap: break-word;
  text-align: center;
  margin: 40px 0; }

img {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.login-box {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 40px; }
  .login-box .box {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
  .login-box h1 {
    margin-bottom: 20px; }
  .login-box input {
    margin: 10px 0;
    color: #1a1a1a; }
  .login-box .submit-box {
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start;
    margin-top: 20px; }
  .login-box h5 {
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start;
    margin: 20px 0 10px 0; }
  .login-box .select-label {
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start; }
  .login-box .dot {
    width: 15px;
    height: 15px;
    margin: 5px;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    border: 4px solid #fff; }
    .login-box .dot:checked {
      -webkit-box-shadow: 0 0 0 1px #b3b3b3;
      box-shadow: 0 0 0 1px #b3b3b3; }
    .login-box .dot:nth-of-type(1) {
      display: none; }
    .login-box .dot:nth-of-type(2) {
      background: skyblue; }
    .login-box .dot:nth-of-type(3) {
      background: gold; }
    .login-box .dot:nth-of-type(4) {
      background: lightsalmon; }
    .login-box .dot:nth-of-type(5) {
      background: tomato; }
    .login-box .dot:nth-of-type(6) {
      background: palevioletred; }
  .login-box .btn {
    margin-right: 10px; }
  .login-box .logo {
    width: 175px; }

.app-box {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background: #f2f2f2; }
  .app-box * {
    color: #1a1a1a; }
  .app-box .blue {
    background: skyblue !important; }
  .app-box .red {
    background: tomato !important; }
  .app-box .yellow {
    background: gold !important; }
  .app-box .orange {
    background: lightsalmon !important; }
  .app-box .green {
    background: lightgreen !important; }
  .app-box .magenta {
    background: palevioletred !important; }
  .app-box .get-room {
    background: #1a1a1a;
    color: #f2f2f2;
    -webkit-animation: fadeIn .2s;
    animation: fadeIn .2s; }
  .app-box .app-projects {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    background: #fff;
    -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16);
    padding: 30px; }
    .app-box .app-projects .logo {
      width: 150px;
      margin: 0 0 30px 15px; }
    .app-box .app-projects .project-title {
      width: 100%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
      justify-content: space-between; }
    .app-box .app-projects ul {
      width: calc(100% + 18px);
      height: 25vh;
      overflow-y: scroll;
      list-style: none;
      font-size: 14px;
      margin-bottom: 30px; }
      .app-box .app-projects ul::-webkit-scrollbar-thumb {
        border-color: #fff; }
      .app-box .app-projects ul li {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        padding: 10px;
        margin-bottom: 5px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        cursor: pointer;
        -webkit-animation: none;
        animation: none; }
        .app-box .app-projects ul li i {
          margin-left: auto;
          color: #b3b3b3; }
      .app-box .app-projects ul span {
        margin-right: 10px; }
      .app-box .app-projects ul input {
        width: 100%;
        background: transparent;
        border: 1px solid #1a1a1a; }
      .app-box .app-projects ul .user-item {
        cursor: default; }
    .app-box .app-projects .go-cerrar {
      position: absolute;
      bottom: 30px;
      left: 30px;
      background: #1a1a1a;
      color: #f2f2f2; }
    .app-box .app-projects .remove-room {
      width: 300px;
      height: 200px;
      background: #fff;
      -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16);
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16); }
    .app-box .app-projects .room-selected {
      background: #1a1a1a;
      color: #f2f2f2; }
  .app-box .app-chat {
    width: calc(100% - 690px);
    height: 100vh;
    margin-left: 270px; }
    .app-box .app-chat .message-box {
      width: calc(100% + 12px);
      height: calc(100% - 70px);
      margin-left: 3px;
      overflow-y: scroll;
      -webkit-animation: none;
      animation: none; }
    .app-box .app-chat .message-card {
      width: 100%;
      padding: 10px;
      color: #b3b3b3;
      background: rgba(255, 255, 255, 0.5);
      border-radius: 5px;
      margin-bottom: 5px;
      -webkit-animation: none;
      animation: none; }
      .app-box .app-chat .message-card p {
        padding: 0 10px 10px 10px; }
      .app-box .app-chat .message-card span {
        width: 100%;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: end;
        -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        font-size: 10px;
        padding: 0; }
    .app-box .app-chat .message-info {
      width: 100%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      font-size: 12px;
      margin-bottom: 20px; }
    .app-box .app-chat .user-label {
      margin-right: 5px;
      color: #f2f2f2; }
    .app-box .app-chat input {
      position: absolute;
      bottom: 20px;
      width: calc(100% - 690px);
      height: 50px;
      border: none;
      border-radius: 5px;
      -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16);
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16);
      padding: 0 15px; }
    .app-box .app-chat .input-icon {
      position: absolute;
      bottom: 20px;
      right: 10px;
      width: 50px;
      height: 50px;
      display: none;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      background: #fff;
      border-radius: 5px; }
  .app-box .app-todo {
    position: fixed;
    top: 0;
    right: 0px;
    width: 400px;
    height: calc(100% - 140px);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 30px 30px 0 30px;
    border-radius: 0 0 0 5px;
    z-index: 1; }
  .app-box select {
    width: 100%;
    height: 40px;
    min-height: 40px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    background: #fff;
    padding: 0 15px;
    font-weight: 600;
    -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; }
  .app-box .todo-box {
    width: calc(100% + 30px);
    height: 100%;
    overflow-y: scroll;
    font-size: 12px;
    padding-right: 10px;
    color: #b3b3b3;
    -webkit-animation: none;
    animation: none; }
  .app-box .todo-card {
    width: 100%;
    min-height: 75px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 10px 0;
    font-size: 16px;
    color: #1a1a1a;
    -webkit-animation: none;
    animation: none; }
    .app-box .todo-card .todo-val {
      width: 100%;
      min-height: 30px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      padding-bottom: 10px;
      border-bottom: 1px solid #e6e6e6;
      margin-bottom: 5px;
      color: #f2f2f2;
      font-size: 14px; }
      .app-box .todo-card .todo-val span {
        margin-right: 10px; }
      .app-box .todo-card .todo-val div {
        font-size: 10px;
        margin-left: 5px; }
      .app-box .todo-card .todo-val i {
        color: #b3b3b3;
        font-size: 18px;
        margin: 0 10px 0 auto;
        cursor: pointer;
        -webkit-transition: .2s;
        -o-transition: .2s;
        transition: .2s; }
        .app-box .todo-card .todo-val i:hover {
          color: tomato; }
    .app-box .todo-card .todo-info {
      width: 100%;
      min-height: 20px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      margin-bottom: 20px; }
      .app-box .todo-card .todo-info span {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        margin-right: 10px;
        color: #1a1a1a;
        line-height: 14px; }
        .app-box .todo-card .todo-info span div {
          font-weight: 300;
          margin-right: 10px;
          font-size: 12px; }
        .app-box .todo-card .todo-info span span {
          font-weight: 600;
          margin: 0 3px 0 0;
          font-size: 10px; }
        .app-box .todo-card .todo-info span p {
          font-size: 14px; }
      .app-box .todo-card .todo-info p {
        margin-left: auto;
        font-size: 10px; }
  .app-box .commands-box {
    position: fixed;
    bottom: 20px;
    right: 0;
    width: 400px;
    height: 100px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 14px;
    padding: 30px;
    text-align: center; }
    .app-box .commands-box .ghost {
      background: #eaeaea; }
