@import '../assets';
.swiper-container {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #fff;
    border-radius: 10px;
}

.swiper-slide {
    height: 92vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 18px;
}

.swiper-pagination {
    position: fixed !important;
    bottom: 0 !important;
    width: 100vw !important;
    height: 8vh !important;
    background: #fff;
    border-top: 1px solid $white;
}

.swiper-pagination-bullet {
    width: calc(100% / 3) !important;
    height: 100%;
    margin: 0 !important;
    background: transparent;
    border-radius: 0;
    text-align: center;
    opacity: 1;
    font-family: FontAwesome;
    font-size: 4vh !important;
    color: $grey !important;
    &:after {
        position: absolute;
        width: calc(100% / 3);
        height: 8vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &:nth-of-type(1):after {
        content: '\f2c1';
    }
    &:nth-of-type(2):after {
        content: '\f1ea';
    }
    &:nth-of-type(3):after {
        content: '\f02b';
    }
}

.swiper-pagination-bullet-active {
    background: transparent !important;
    color: $orange !important;
}

@import './app-login';
@import './app-id';
@import './app-news';
@import './app-partners';