.slide-id {
  .user-row {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    letter-spacing: .3px;
    &:hover {
      color: $black;
    }
  }
  .user-foto {
    width: 200px;
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    border: 1px solid $grey;
    margin-bottom: 10px;
  }
  .user-name,
  .user-age,
  .user-dni,
  .user-phone,
  .user-mail {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
    font-size: 6vw;
  }
  .go-out {
    width: 130px;
    height: auto;
    border: 1px solid $grey;
    color: $grey;
    padding: 10px 15px;
  }
}