.btn {
  padding: 10px 20px;
  border-radius: 30px;
  cursor: pointer;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-align: center; }
  .btn:hover {
    background: #b3b3b3;
    color: #fff !important; }

@-webkit-keyframes comeTop {
  from {
    top: -120px;
    opacity: 0; }
  to {
    top: 0;
    opacity: 1; } }

@keyframes comeTop {
  from {
    top: -120px;
    opacity: 0; }
  to {
    top: 0;
    opacity: 1; } }

@-webkit-keyframes comeLeft {
  from {
    left: -55vw;
    opacity: 0; }
  to {
    left: 0;
    opacity: 1; } }

@keyframes comeLeft {
  from {
    left: -55vw;
    opacity: 0; }
  to {
    left: 0;
    opacity: 1; } }

@-webkit-keyframes comeRight {
  from {
    right: -55vw;
    opacity: 0; }
  to {
    right: 0;
    opacity: 1; } }

@keyframes comeRight {
  from {
    right: -55vw;
    opacity: 0; }
  to {
    right: 0;
    opacity: 1; } }

@-webkit-keyframes comeBot {
  from {
    bottom: -60px;
    opacity: 0; }
  to {
    bottom: 0;
    opacity: 1; } }

@keyframes comeBot {
  from {
    bottom: -60px;
    opacity: 0; }
  to {
    bottom: 0;
    opacity: 1; } }

.go-top {
  top: -120px !important;
  opacity: 0; }

.go-left {
  left: -55vw !important;
  opacity: 0; }

.go-right {
  right: -55vw !important;
  opacity: 0; }

.go-bot {
  bottom: -60px !important;
  opacity: 0; }

@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

@keyframes Gradient {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

@-webkit-keyframes spinner {
  from {
    -webkit-transform: rotate(0);
    transform: rotate(0); }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes spinner {
  from {
    -webkit-transform: rotate(0);
    transform: rotate(0); }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

.swiper-container {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #fff;
  border-radius: 10px; }

.swiper-slide {
  height: 92vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  font-size: 18px; }

.swiper-pagination {
  position: fixed !important;
  bottom: 0 !important;
  width: 100vw !important;
  height: 8vh !important;
  background: #fff;
  border-top: 1px solid #f2f2f2; }

.swiper-pagination-bullet {
  width: calc(100% / 3) !important;
  height: 100%;
  margin: 0 !important;
  background: transparent;
  border-radius: 0;
  text-align: center;
  opacity: 1;
  font-family: FontAwesome;
  font-size: 4vh !important;
  color: #b3b3b3 !important; }
  .swiper-pagination-bullet:after {
    position: absolute;
    width: calc(100% / 3);
    height: 8vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
  .swiper-pagination-bullet:nth-of-type(1):after {
    content: '\f2c1'; }
  .swiper-pagination-bullet:nth-of-type(2):after {
    content: '\f1ea'; }
  .swiper-pagination-bullet:nth-of-type(3):after {
    content: '\f02b'; }

.swiper-pagination-bullet-active {
  background: transparent !important;
  color: #f39c12 !important; }

.app-login-box {
  width: 100vw;
  height: 100vh;
  background: url("../assets/img/background.png") no-repeat bottom;
  background-size: cover;
  border-radius: 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-animation: goIn .5s;
  animation: goIn .5s;
  overflow: hidden; }
  .app-login-box .logo {
    height: 15vh;
    margin: auto 0; }
  .app-login-box h1 {
    margin-bottom: 20px; }
  .app-login-box input {
    width: 80%;
    max-width: 400px;
    height: 60px;
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #b3b3b3;
    border-radius: 30px;
    outline: none; }
    .app-login-box input:focus {
      border: 2px solid #19b5fe; }
  .app-login-box .go-entrar {
    background: #f39c12;
    color: #fff; }
  .app-login-box pre {
    height: 50px;
    margin-top: 40px; }

@-webkit-keyframes goIn {
  from {
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0); }
  to {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1); } }

@keyframes goIn {
  from {
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0); }
  to {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1); } }

.slide-id .user-row {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 14px;
  letter-spacing: .3px; }
  .slide-id .user-row:hover {
    color: #1a1a1a; }

.slide-id .user-foto {
  width: 200px;
  height: 200px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  border: 1px solid #b3b3b3;
  margin-bottom: 10px; }

.slide-id .user-name,
.slide-id .user-age,
.slide-id .user-dni,
.slide-id .user-phone,
.slide-id .user-mail {
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
  font-size: 6vw; }

.slide-id .go-out {
  width: 130px;
  height: auto;
  border: 1px solid #b3b3b3;
  color: #b3b3b3;
  padding: 10px 15px; }

.slide-news {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
