.btn {
  padding: 10px 20px;
  border-radius: 30px;
  cursor: pointer;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-align: center; }
  .btn:hover {
    background: #b3b3b3;
    color: #fff !important; }

@-webkit-keyframes comeTop {
  from {
    top: -120px;
    opacity: 0; }
  to {
    top: 0;
    opacity: 1; } }

@keyframes comeTop {
  from {
    top: -120px;
    opacity: 0; }
  to {
    top: 0;
    opacity: 1; } }

@-webkit-keyframes comeLeft {
  from {
    left: -55vw;
    opacity: 0; }
  to {
    left: 0;
    opacity: 1; } }

@keyframes comeLeft {
  from {
    left: -55vw;
    opacity: 0; }
  to {
    left: 0;
    opacity: 1; } }

@-webkit-keyframes comeRight {
  from {
    right: -55vw;
    opacity: 0; }
  to {
    right: 0;
    opacity: 1; } }

@keyframes comeRight {
  from {
    right: -55vw;
    opacity: 0; }
  to {
    right: 0;
    opacity: 1; } }

@-webkit-keyframes comeBot {
  from {
    bottom: -60px;
    opacity: 0; }
  to {
    bottom: 0;
    opacity: 1; } }

@keyframes comeBot {
  from {
    bottom: -60px;
    opacity: 0; }
  to {
    bottom: 0;
    opacity: 1; } }

.go-top {
  top: -120px !important;
  opacity: 0; }

.go-left {
  left: -55vw !important;
  opacity: 0; }

.go-right {
  right: -55vw !important;
  opacity: 0; }

.go-bot {
  bottom: -60px !important;
  opacity: 0; }

@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

@keyframes Gradient {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

@-webkit-keyframes spinner {
  from {
    -webkit-transform: rotate(0);
    transform: rotate(0); }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes spinner {
  from {
    -webkit-transform: rotate(0);
    transform: rotate(0); }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

main {
  background: #000; }

.landing-box {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 20px; }

.land-top {
  height: 20vw;
  padding: 10px; }
  .land-top .go-iniciar {
    border: 1px solid #b3b3b3;
    color: #b3b3b3;
    -webkit-transform: scale(0.8, 0.8);
    -ms-transform: scale(0.8, 0.8);
    transform: scale(0.8, 0.8);
    -webkit-transform-origin: bottom;
    -ms-transform-origin: bottom;
    transform-origin: bottom;
    margin-left: 10px; }
  .land-top .mas-info {
    display: none; }

.land-left {
  width: 100%;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  padding: 16vh 10px 0; }
  .land-left h1 {
    font-size: 10vw; }
  .land-left h2 {
    font-size: 4.5vw;
    margin-bottom: 30px; }
  .land-left .go-plan {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center; }

.land-right {
  display: none; }

.land-bot {
  height: 60px;
  padding: 0 20px; }
