.btn {
  padding: 10px 20px;
  border-radius: 30px;
  cursor: pointer;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-align: center; }
  .btn:hover {
    background: #b3b3b3;
    color: #fff !important; }

@-webkit-keyframes comeTop {
  from {
    top: -120px;
    opacity: 0; }
  to {
    top: 0;
    opacity: 1; } }

@keyframes comeTop {
  from {
    top: -120px;
    opacity: 0; }
  to {
    top: 0;
    opacity: 1; } }

@-webkit-keyframes comeLeft {
  from {
    left: -55vw;
    opacity: 0; }
  to {
    left: 0;
    opacity: 1; } }

@keyframes comeLeft {
  from {
    left: -55vw;
    opacity: 0; }
  to {
    left: 0;
    opacity: 1; } }

@-webkit-keyframes comeRight {
  from {
    right: -55vw;
    opacity: 0; }
  to {
    right: 0;
    opacity: 1; } }

@keyframes comeRight {
  from {
    right: -55vw;
    opacity: 0; }
  to {
    right: 0;
    opacity: 1; } }

@-webkit-keyframes comeBot {
  from {
    bottom: -60px;
    opacity: 0; }
  to {
    bottom: 0;
    opacity: 1; } }

@keyframes comeBot {
  from {
    bottom: -60px;
    opacity: 0; }
  to {
    bottom: 0;
    opacity: 1; } }

.go-top {
  top: -120px !important;
  opacity: 0; }

.go-left {
  left: -55vw !important;
  opacity: 0; }

.go-right {
  right: -55vw !important;
  opacity: 0; }

.go-bot {
  bottom: -60px !important;
  opacity: 0; }

@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

@keyframes Gradient {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

@-webkit-keyframes spinner {
  from {
    -webkit-transform: rotate(0);
    transform: rotate(0); }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes spinner {
  from {
    -webkit-transform: rotate(0);
    transform: rotate(0); }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Fira Sans';
  image-rendering: crisp-edges;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out; }

html, body, main {
  width: 100vw;
  height: 100%;
  overflow-x: hidden; }

main {
  background: url("../assets/img/background.png") no-repeat center bottom;
  background-size: cover; }

a {
  color: #19b5fe; }

.landing-box {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 40px; }

.land-top {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 110px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 20px;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  z-index: 99;
  -webkit-animation: comeTop 1gits;
  animation: comeTop 1gits; }
  .land-top img {
    height: 100%; }
  .land-top .top-btns {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
  .land-top .mas-info {
    color: #b3b3b3;
    margin-right: 40px; }
  .land-top .go-iniciar {
    border: 1px solid #b3b3b3;
    color: #b3b3b3; }

.land-left {
  position: fixed;
  left: 0;
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-left: 50px;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  -webkit-animation: comeLeft 1s;
  animation: comeLeft 1s; }
  .land-left h1 {
    max-width: 500px;
    font-size: 60px;
    margin-bottom: 10px; }
  .land-left h2 {
    max-width: 600px;
    font-size: 18px;
    color: #b3b3b3;
    font-weight: 300;
    line-height: 1.5;
    margin-bottom: 20px; }
  .land-left .go-plan {
    width: 150px;
    background: #f39c12;
    color: #fff;
    text-align: center; }

.land-right {
  position: fixed;
  right: 0;
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  padding-bottom: 50px;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  -webkit-animation: comeRight 1s;
  animation: comeRight 1s; }
  .land-right img {
    height: 70%; }

.land-bot {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  text-align: center;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  z-index: 99;
  -webkit-animation: comeBot 1s;
  animation: comeBot 1s; }

.login-box {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-animation: goIn .5s;
  animation: goIn .5s; }
  .login-box .logo {
    position: fixed;
    top: 20px;
    left: 20px;
    height: 70px;
    cursor: pointer; }
  .login-box h1 {
    margin-bottom: 20px; }
  .login-box input {
    width: 80%;
    max-width: 400px;
    height: 60px;
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #b3b3b3;
    border-radius: 30px;
    outline: none; }
    .login-box input:focus {
      border: 2px solid #19b5fe; }
  .login-box .go-entrar {
    background: #f39c12;
    color: #fff; }
  .login-box pre {
    height: 50px;
    margin-top: 40px; }

@-webkit-keyframes goIn {
  from {
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0); }
  to {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1); } }

@keyframes goIn {
  from {
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0); }
  to {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1); } }

.admin-box {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background: #fafafa;
  -webkit-animation: goIn .5s;
  animation: goIn .5s; }
  .admin-box .admin-top {
    position: fixed;
    top: 0;
    left: 290px;
    width: calc(100% - 330px);
    height: 100px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background: #fafafa;
    padding: 0 20px;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    z-index: 99;
    -webkit-animation: comeTop 1s;
    animation: comeTop 1s; }
    .admin-box .admin-top .search-box {
      width: 100%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
      box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
      border-radius: 5px;
      background: #fff;
      margin-right: 20px; }
    .admin-box .admin-top i {
      min-width: 40px;
      height: 50px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center; }
    .admin-box .admin-top input {
      width: 100%;
      height: 50px;
      border: none;
      outline: none;
      font-family: FontAwesome, 'Fira Sans';
      font-size: 16px;
      background: transparent; }
    .admin-box .admin-top .top-btns {
      width: auto;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center; }
    .admin-box .admin-top p {
      width: auto;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      color: #b3b3b3;
      margin-right: 20px; }
      .admin-box .admin-top p span {
        color: #1a1a1a;
        text-transform: uppercase;
        margin-left: 10px;
        font-weight: 800; }
    .admin-box .admin-top .go-out {
      width: 130px;
      height: auto;
      border: 2px solid tomato;
      background: tomato;
      color: #fff;
      padding: 10px 15px; }
      .admin-box .admin-top .go-out:hover {
        background: transparent !important;
        color: tomato !important; }
  .admin-box .admin-left {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    background: #fff;
    padding: 10px 30px;
    -webkit-box-shadow: 1px 0 3px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 1px 0 3px 0 rgba(0, 0, 0, 0.2);
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    z-index: 99; }
    .admin-box .admin-left img {
      height: 60px;
      margin-bottom: 50px; }
    .admin-box .admin-left .genero-box, .admin-box .admin-left .edad-box {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column; }
    .admin-box .admin-left input {
      display: none; }
    .admin-box .admin-left h4 {
      margin-bottom: 10px; }
    .admin-box .admin-left label {
      position: relative;
      padding: 10px 20px;
      border-radius: 40px;
      margin-bottom: 10px;
      overflow: hidden;
      cursor: pointer; }
    .admin-box .admin-left hr {
      margin: 20px 0;
      border-top: 1px solid #f2f2f2; }
  .admin-box .admin-right {
    width: calc(100% - 250px);
    margin: 240px 0 0 250px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    color: #9a9a9a;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s; }
    .admin-box .admin-right .create-box {
      position: fixed;
      top: 90px;
      width: calc(100% - 290px);
      height: 100px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: start;
      -webkit-align-items: flex-start;
      -ms-flex-align: start;
      align-items: flex-start;
      padding: 10px;
      background: #fafafa;
      -webkit-transition: .5s;
      -o-transition: .5s;
      transition: .5s; }
    .admin-box .admin-right .new-user, .admin-box .admin-right .new-space {
      margin: 0 10px;
      border: 1px solid #b3b3b3; }
    .admin-box .admin-right .user-col {
      position: fixed;
      top: 90px;
      left: 315px;
      width: calc(100% - 380px);
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
      justify-content: space-between;
      background: #fafafa;
      color: #1a1a1a;
      margin: 80px 0 20px 0;
      padding: 0 25px;
      font-size: 14px;
      letter-spacing: .3px;
      border-bottom: 2px solid #b3b3b3;
      -webkit-transition: .5s;
      -o-transition: .5s;
      transition: .5s; }
    .admin-box .admin-right .col-foto {
      width: 60px;
      padding: 20px 0; }
    .admin-box .admin-right .col-name {
      width: 30%;
      padding: 20px 0; }
    .admin-box .admin-right .col-age, .admin-box .admin-right .col-dni, .admin-box .admin-right .col-phone, .admin-box .admin-right .col-mail {
      width: calc((70% / 4) - (60px / 4));
      text-align: right;
      padding: 20px 0; }
    .admin-box .admin-right .user-row {
      width: calc(93vw - 290px);
      height: 60px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      background: #fff;
      font-size: 15px;
      letter-spacing: .3px;
      padding: 0 10px;
      border-radius: 5px;
      -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
      box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
      margin-bottom: 10px;
      cursor: -webkit-zoom-in;
      cursor: zoom-in;
      -webkit-transition: .5s;
      -o-transition: .5s;
      transition: .5s; }
      .admin-box .admin-right .user-row:hover {
        color: #1a1a1a; }
    .admin-box .admin-right .user-foto {
      width: 40px;
      height: 40px;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 50%;
      border: 1px solid #b3b3b3;
      margin-right: 20px; }
    .admin-box .admin-right .user-name {
      width: 30%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; }
    .admin-box .admin-right .user-age, .admin-box .admin-right .user-dni, .admin-box .admin-right .user-phone, .admin-box .admin-right .user-mail {
      width: calc((70% / 4) - (60px / 4));
      text-align: right; }
      .admin-box .admin-right .user-age span, .admin-box .admin-right .user-dni span, .admin-box .admin-right .user-phone span, .admin-box .admin-right .user-mail span {
        background: -webkit-gradient(linear, right top, left top, from(#65cefe), to(#f7ba5b));
        background: -webkit-linear-gradient(right, #65cefe, #f7ba5b);
        background: -o-linear-gradient(right, #65cefe, #f7ba5b);
        background: linear-gradient(270deg, #65cefe, #f7ba5b);
        background-size: 400% 400%;
        -webkit-animation: Gradient 2s ease infinite;
        animation: Gradient 2s ease infinite;
        border-radius: 20px;
        padding: 4px 8px;
        color: #fff;
        margin-right: 15px;
        font-size: 14px; }
    .admin-box .admin-right .hidden-content {
      display: none; }

.active-bg {
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: #19b5fe;
  color: #fff;
  padding: 10px 20px;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
  border-radius: 30px; }

.filter-active {
  left: 0; }

.filter-colapse {
  left: -190px !important; }
  .filter-colapse * {
    display: none; }

.admin-top-up {
  top: -50vh !important; }

.margin-users {
  -webkit-transform: translateY(100vh);
  -ms-transform: translateY(100vh);
  transform: translateY(100vh); }

.create-user {
  position: fixed;
  top: 0;
  left: 60px;
  width: calc(100vw - 60px);
  height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  overflow: hidden;
  padding: 40px;
  opacity: 0;
  z-index: -1;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s; }
  .create-user .create-user-top {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
  .create-user input[type="file"] {
    display: none; }
  .create-user .img-crop {
    width: 15vw;
    height: 15vw;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background: #19b5fe url("../assets/img/user.svg") no-repeat center;
    background-size: 60%;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid #19b5fe;
    text-align: center;
    color: #fff;
    margin-bottom: 20px; }
  .create-user .img-pre {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover; }
  .create-user .create-user-mid {
    width: 90%;
    text-align: center; }
  .create-user h3 {
    font-size: 1.2vw;
    margin-bottom: .5vw; }
  .create-user .row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 10px 0 20px 0; }
    .create-user .row label {
      position: relative;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: start;
      -webkit-align-items: flex-start;
      -ms-flex-align: start;
      align-items: flex-start;
      font-size: 10px;
      margin-right: 20px;
      overflow: hidden; }
    .create-user .row span {
      margin: 0 0 5px 10px; }
  .create-user input {
    width: calc(25vw - 40px);
    height: 50px;
    padding: 0 10px;
    border: none;
    border-radius: 5px;
    margin: 0 3px 20px;
    font-size: 14px;
    -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
    outline: none; }
  .create-user label i {
    content: 'Borrar';
    position: absolute;
    top: 0;
    bottom: 3px;
    right: 0;
    margin: auto -60px auto auto;
    height: 26px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 20px;
    color: tomato;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    cursor: pointer; }
  .create-user #userNum,
  .create-user #createDni,
  .create-user #createOld {
    width: calc((25vw - 66px) - ((25vw - 92px) / 3)); }
  .create-user #userNum, .create-user #createOld {
    color: #19b5fe; }
  .create-user label[for="userSex"] {
    width: 200px;
    height: 50px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    overflow: visible; }
    .create-user label[for="userSex"] span {
      width: 200px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center; }
    .create-user label[for="userSex"] input {
      max-width: 20px;
      height: 20px;
      margin: 0;
      background: transparent;
      -webkit-box-shadow: none;
      box-shadow: none; }
    .create-user label[for="userSex"] label {
      font-size: 14px;
      margin-left: 5px; }
  .create-user #createDay,
  .create-user #createMonth,
  .create-user #createYear {
    width: calc((25vw - 92px) / 3); }
  .create-user .create-user-bot {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
  .create-user pre {
    margin-bottom: 20px; }
  .create-user .go-create {
    background: #19b5fe;
    color: #fff;
    margin-bottom: -5px; }

.go-close {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 85px;
  height: 39px;
  background: tomato;
  color: #f2f2f2; }
  .go-close:hover {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg); }
    .go-close:hover p {
      -webkit-transform: rotateY(180deg);
      transform: rotateY(180deg); }

.temporada {
  position: fixed;
  top: 20px;
  left: 80px;
  font-size: 24px;
  font-weight: 600;
  color: #b3b3b3; }

.show-modal {
  opacity: 1;
  z-index: 0; }

.loader {
  position: fixed;
  top: 0;
  left: 60px;
  width: calc(100% - 60px);
  height: 100%;
  background: #f2f2f2;
  display: none;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
  .loader i {
    font-size: 80px;
    color: #19b5fe;
    -webkit-animation: spinner 2s infinite;
    animation: spinner 2s infinite; }

.open-user {
  position: fixed;
  top: 0;
  left: 60px;
  width: calc(100vw - 60px);
  height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  overflow: hidden;
  padding: 40px;
  opacity: 0;
  z-index: -1;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s; }
  .open-user .open-user-top {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
  .open-user input[type="file"] {
    display: none; }
  .open-user .img-crop {
    width: 15vw;
    height: 15vw;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background: #19b5fe url("../assets/img/user.svg") no-repeat center;
    background-size: 60%;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid #19b5fe;
    text-align: center;
    color: #fff;
    margin-bottom: 20px; }
  .open-user .img-pre {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    background-size: cover; }
  .open-user .open-user-mid {
    width: 90%;
    text-align: center; }
  .open-user h3 {
    font-size: 1.2vw;
    margin-bottom: .5vw; }
  .open-user .row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 10px 0 20px 0; }
    .open-user .row label {
      position: relative;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: start;
      -webkit-align-items: flex-start;
      -ms-flex-align: start;
      align-items: flex-start;
      font-size: 10px;
      margin-right: 20px;
      overflow: hidden; }
    .open-user .row span {
      margin: 0 0 5px 10px; }
  .open-user input {
    width: calc(25vw - 40px);
    height: 50px;
    padding: 0 10px;
    border: none;
    border-radius: 5px;
    margin: 0 3px 20px;
    font-size: 14px;
    -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
    outline: none; }
  .open-user label i {
    content: 'Borrar';
    position: absolute;
    top: 0;
    bottom: 3px;
    right: 0;
    margin: auto -60px auto auto;
    height: 26px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 20px;
    color: tomato;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    cursor: pointer; }
  .open-user #userNum,
  .open-user #openDni,
  .open-user #openOld {
    width: calc((25vw - 66px) - ((25vw - 92px) / 3)); }
  .open-user #userNum {
    color: #19b5fe; }
  .open-user label[for="userSex"] {
    width: 200px;
    height: 50px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    overflow: visible; }
    .open-user label[for="userSex"] span {
      width: 200px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center; }
    .open-user label[for="userSex"] input {
      max-width: 20px;
      height: 20px;
      margin: 0;
      background: transparent;
      -webkit-box-shadow: none;
      box-shadow: none; }
    .open-user label[for="userSex"] label {
      font-size: 14px;
      margin-left: 5px; }
  .open-user #openDay,
  .open-user #openMonth,
  .open-user #openYear {
    width: calc((25vw - 92px) / 3); }
  .open-user .open-user-bot {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
  .open-user pre {
    margin-bottom: 20px; }
  .open-user .go-open {
    background: #19b5fe;
    color: #fff;
    margin-bottom: -5px; }

.go-close {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 85px;
  height: 39px;
  background: tomato;
  color: #f2f2f2; }
  .go-close:hover {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg); }
    .go-close:hover p {
      -webkit-transform: rotateY(180deg);
      transform: rotateY(180deg); }

.temporada {
  position: fixed;
  top: 20px;
  left: 80px;
  font-size: 24px;
  font-weight: 600;
  color: #b3b3b3; }

.show-modal {
  opacity: 1;
  z-index: 0; }

.loader {
  position: fixed;
  top: 0;
  left: 60px;
  width: calc(100% - 60px);
  height: 100%;
  background: #f2f2f2;
  display: none;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
  .loader i {
    font-size: 80px;
    color: #19b5fe;
    -webkit-animation: spinner 2s infinite;
    animation: spinner 2s infinite; }
