.btn {
  padding: 10px 20px;
  border-radius: 30px;
  cursor: pointer;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-align: center; }
  .btn:hover {
    background: #b3b3b3 !important;
    color: #fff !important; }

@-webkit-keyframes comeTop {
  from {
    top: -120px;
    opacity: 0; }
  to {
    top: 0;
    opacity: 1; } }

@keyframes comeTop {
  from {
    top: -120px;
    opacity: 0; }
  to {
    top: 0;
    opacity: 1; } }

@-webkit-keyframes comeLeft {
  from {
    left: -55vw;
    opacity: 0; }
  to {
    left: 0;
    opacity: 1; } }

@keyframes comeLeft {
  from {
    left: -55vw;
    opacity: 0; }
  to {
    left: 0;
    opacity: 1; } }

@-webkit-keyframes comeRight {
  from {
    right: -55vw;
    opacity: 0; }
  to {
    right: 0;
    opacity: 1; } }

@keyframes comeRight {
  from {
    right: -55vw;
    opacity: 0; }
  to {
    right: 0;
    opacity: 1; } }

@-webkit-keyframes comeBot {
  from {
    bottom: -60px;
    opacity: 0; }
  to {
    bottom: 0;
    opacity: 1; } }

@keyframes comeBot {
  from {
    bottom: -60px;
    opacity: 0; }
  to {
    bottom: 0;
    opacity: 1; } }

.go-top {
  top: -120px !important;
  opacity: 0; }

.go-left {
  left: -55vw !important;
  opacity: 0; }

.go-right {
  right: -55vw !important;
  opacity: 0; }

.go-bot {
  bottom: -60px !important;
  opacity: 0; }

@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

@keyframes Gradient {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

@-webkit-keyframes spinner {
  from {
    -webkit-transform: rotate(0);
    transform: rotate(0); }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes spinner {
  from {
    -webkit-transform: rotate(0);
    transform: rotate(0); }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

.land-left h1 {
  max-width: 700px;
  font-size: 80px; }

.land-left h2 {
  max-width: 950px;
  font-size: 22px; }

.land-right {
  width: 45%; }
