.scrollbar::-webkit-scrollbar-track {
  background-color: #f2f2f2;
  border-radius: 28px; }

.scrollbar::-webkit-scrollbar {
  width: 28px;
  background-color: #f2f2f2; }

.scrollbar::-webkit-scrollbar-thumb {
  border: 10px solid #f2f2f2;
  border-radius: 28px;
  background: #b3b3b3; }

.ng-enter {
  -webkit-animation: fadeIn both .3s;
  animation: fadeIn both .3s;
  -webkit-animation-delay: .3s;
  animation-delay: .3s; }

.ng-leave {
  -webkit-animation: fadeOut both .3s;
  animation: fadeOut both .3s; }

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
    position: relative; }
  to {
    opacity: 1;
    position: relative; } }

@keyframes fadeIn {
  from {
    opacity: 0;
    position: relative; }
  to {
    opacity: 1;
    position: relative; } }

@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
    position: relative; }
  to {
    opacity: 0;
    position: relative; } }

@keyframes fadeOut {
  from {
    opacity: 1;
    position: relative; }
  to {
    opacity: 0;
    position: relative; } }

@-webkit-keyframes scaleIn {
  from {
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0);
    opacity: 0; }
  to {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 1; } }

@keyframes scaleIn {
  from {
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0);
    opacity: 0; }
  to {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 1; } }

@-webkit-keyframes scaleOut {
  from {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 1; }
  to {
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0);
    opacity: 0; } }

@keyframes scaleOut {
  from {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 1; }
  to {
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0);
    opacity: 0; } }

@-webkit-keyframes fromTop {
  from {
    -webkit-transform: translateY(-100vh);
    transform: translateY(-100vh);
    opacity: 0; }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; } }

@keyframes fromTop {
  from {
    -webkit-transform: translateY(-100vh);
    transform: translateY(-100vh);
    opacity: 0; }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; } }

@-webkit-keyframes fromLeft {
  from {
    -webkit-transform: translateX(-100vw);
    transform: translateX(-100vw);
    opacity: 0; }
  to {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1; } }

@keyframes fromLeft {
  from {
    -webkit-transform: translateX(-100vw);
    transform: translateX(-100vw);
    opacity: 0; }
  to {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1; } }

@-webkit-keyframes fromRight {
  from {
    -webkit-transform: translateX(100vw);
    transform: translateX(100vw);
    opacity: 0; }
  to {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1; } }

@keyframes fromRight {
  from {
    -webkit-transform: translateX(100vw);
    transform: translateX(100vw);
    opacity: 0; }
  to {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1; } }

@-webkit-keyframes fromBot {
  from {
    -webkit-transform: translateY(100vh);
    transform: translateY(100vh);
    opacity: 0; }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; } }

@keyframes fromBot {
  from {
    -webkit-transform: translateY(100vh);
    transform: translateY(100vh);
    opacity: 0; }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; } }

@-webkit-keyframes toTop {
  from {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; }
  to {
    -webkit-transform: translateY(-100vh);
    transform: translateY(-100vh);
    opacity: 0; } }

@keyframes toTop {
  from {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; }
  to {
    -webkit-transform: translateY(-100vh);
    transform: translateY(-100vh);
    opacity: 0; } }

@-webkit-keyframes toLeft {
  from {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1; }
  to {
    -webkit-transform: translateX(-100vw);
    transform: translateX(-100vw);
    opacity: 0; } }

@keyframes toLeft {
  from {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1; }
  to {
    -webkit-transform: translateX(-100vw);
    transform: translateX(-100vw);
    opacity: 0; } }

@-webkit-keyframes toRight {
  from {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1; }
  to {
    -webkit-transform: translateX(100vw);
    transform: translateX(100vw);
    opacity: 0; } }

@keyframes toRight {
  from {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1; }
  to {
    -webkit-transform: translateX(100vw);
    transform: translateX(100vw);
    opacity: 0; } }

@-webkit-keyframes toBot {
  from {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; }
  to {
    -webkit-transform: translateY(100vh);
    transform: translateY(100vh);
    opacity: 0; } }

@keyframes toBot {
  from {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; }
  to {
    -webkit-transform: translateY(100vh);
    transform: translateY(100vh);
    opacity: 0; } }

@-webkit-keyframes spinner {
  from {
    -webkit-transform: rotate(0);
    transform: rotate(0); }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes spinner {
  from {
    -webkit-transform: rotate(0);
    transform: rotate(0); }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

@keyframes Gradient {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

.box {
  background: #fff;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  border-radius: 3px;
  padding: 40px; }

.ghost {
  background: #f2f2f2;
  padding: 10px;
  border-radius: 3px; }

.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.hdiv {
  width: 100%;
  height: 1px;
  background: #b3b3b3;
  margin: 10px 0; }

.vdiv {
  width: 1px;
  height: 100%;
  background: #b3b3b3;
  margin: 0 10px; }

.dot {
  width: 8px;
  height: 8px;
  display: block;
  border-radius: 50%; }

.btn {
  cursor: pointer;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  padding: 10px 20px;
  background: #34495E;
  color: #f2f2f2;
  border-radius: 3px;
  text-align: center; }
  .btn:hover {
    background: #b3b3b3; }

.label {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 2px 10px;
  border-radius: 20px;
  color: #f2f2f2;
  text-align: center; }

.link {
  cursor: pointer;
  color: #19b5fe;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.text {
  width: 100%;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  padding: 15px 25px;
  background: #f2f2f2;
  border-radius: 3px; }
  .text:focus {
    background: #e5e5e5; }

.flat {
  -webkit-box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.32), 0 0 0 1px rgba(0, 0, 0, 0.16);
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.32), 0 0 0 1px rgba(0, 0, 0, 0.16); }

.light {
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08); }

.dark {
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.32), 0 0 0 1px rgba(0, 0, 0, 0.16);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.32), 0 0 0 1px rgba(0, 0, 0, 0.16); }

.hgrad {
  background: #FF4E50;
  background: -webkit-linear-gradient(to right, #F9D423, #FF4E50);
  background: -webkit-gradient(linear, left top, right top, from(#F9D423), to(#FF4E50));
  background: -webkit-linear-gradient(left, #F9D423, #FF4E50);
  background: -o-linear-gradient(left, #F9D423, #FF4E50);
  background: linear-gradient(to right, #F9D423, #FF4E50); }

.vgrad {
  background: #FF4E50;
  background: -webkit-linear-gradient(to bottom, #F9D423, #FF4E50);
  background: -webkit-gradient(linear, left top, left bottom, from(#F9D423), to(#FF4E50));
  background: -webkit-linear-gradient(top, #F9D423, #FF4E50);
  background: -o-linear-gradient(top, #F9D423, #FF4E50);
  background: linear-gradient(to bottom, #F9D423, #FF4E50); }

.swiper-container {
  position: fixed;
  top: 0 !important;
  left: 0 !important;
  width: 100vw !important;
  height: 100vh !important; }

.swiper-slide {
  width: 100vw !important;
  height: 92vh !important; }

.swiper-pagination {
  position: fixed !important;
  bottom: 0 !important;
  width: 100vw !important;
  height: 8vh !important;
  background: #fff;
  border-top: 1px solid #f2f2f2; }

.swiper-pagination-bullet {
  width: calc(100% / 3) !important;
  height: 100%;
  margin: 0 !important;
  background: transparent;
  border-radius: 0;
  text-align: center;
  opacity: 1;
  font-family: FontAwesome;
  font-size: 4vh !important;
  color: #b3b3b3 !important; }
  .swiper-pagination-bullet:after {
    position: absolute;
    width: calc(100% / 3);
    height: 8vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
  .swiper-pagination-bullet:nth-of-type(1):after {
    content: '\f0c9'; }
  .swiper-pagination-bullet:nth-of-type(2):after {
    content: '\f0e6'; }
  .swiper-pagination-bullet:nth-of-type(3):after {
    content: '\f00c'; }

.swiper-pagination-bullet-active {
  background: transparent !important;
  color: #f39c12 !important; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  color: #34495E;
  image-rendering: crisp-edges;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Fira Sans'; }

html, body, main {
  width: 100vw;
  overflow-x: hidden;
  background: #f2f2f2; }

a {
  color: #19b5fe;
  text-decoration: none; }

pre {
  min-height: 20px;
  white-space: pre-wrap;
  word-wrap: break-word;
  text-align: center;
  margin: 40px 0; }

.login-box {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
  .login-box .logo {
    width: 200px;
    margin-bottom: 40px;
    cursor: pointer; }
  .login-box .box {
    width: 80%;
    max-width: 350px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 40px; }
  .login-box input {
    margin-bottom: 20px; }
  .login-box .go-entrar {
    background: #34495E;
    color: #fff;
    margin-top: 20px; }
  .login-box pre {
    height: 50px;
    margin-top: 40px; }
  .login-box .login-bot {
    position: absolute;
    bottom: 40px; }

.admin-box {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background: #fafafa;
  -webkit-animation: goIn .5s;
  animation: goIn .5s; }
  .admin-box .admin-search {
    position: fixed;
    top: 0;
    left: 250px;
    width: calc(100% - 250px);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background: #f2f2f2;
    padding: 40px;
    z-index: 99; }
    .admin-box .admin-search .search-box {
      width: 100%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
      background: #fff;
      padding-left: 0; }
    .admin-box .admin-search i {
      width: 50px;
      text-align: center; }
    .admin-box .admin-search input {
      width: 100%;
      border: none;
      outline: none;
      font-size: 16px;
      background: transparent; }
    .admin-box .admin-search .top-btns {
      min-width: 600px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      margin-left: auto; }
    .admin-box .admin-search .new-user,
    .admin-box .admin-search .new-space,
    .admin-box .admin-search .go-out {
      margin-left: 10px;
      min-width: 140px;
      padding: 15px 20px;
      background: transparent;
      -webkit-box-shadow: none;
      box-shadow: none;
      color: #34495E; }
    .admin-box .admin-search .admin-top-up {
      top: -50vh !important; }
    .admin-box .admin-search .margin-users {
      -webkit-transform: translateY(100vh);
      -ms-transform: translateY(100vh);
      transform: translateY(100vh); }
  .admin-box .admin-filter {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    background: #fff;
    padding: 30px;
    -webkit-box-shadow: 1px 0 3px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 1px 0 3px 0 rgba(0, 0, 0, 0.2);
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    z-index: 99; }
    .admin-box .admin-filter img {
      height: 60px;
      margin-bottom: 50px; }
    .admin-box .admin-filter .hdiv {
      margin: 10px 0 20px 0; }
    .admin-box .admin-filter .genero-box,
    .admin-box .admin-filter .edad-box {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      margin-bottom: 20px; }
    .admin-box .admin-filter input {
      display: none; }
    .admin-box .admin-filter h5 {
      margin-bottom: 10px; }
    .admin-box .admin-filter label {
      position: relative;
      padding: 10px 20px;
      border-radius: 3px;
      margin-bottom: 10px;
      cursor: pointer; }
    .admin-box .admin-filter hr {
      margin: 20px 0;
      border-top: 1px solid #f2f2f2; }
    .admin-box .admin-filter .active-bg {
      position: absolute;
      top: 0;
      left: -120%;
      width: 100%;
      height: 100%;
      background: #f2f2f2;
      color: #34495E;
      -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
      padding: 10px 20px;
      -webkit-transition: .2s ease-in;
      -o-transition: .2s ease-in;
      transition: .2s ease-in;
      border-radius: 3px; }
    .admin-box .admin-filter .filter-active {
      left: 0; }
    .admin-box .admin-filter .filter-colapse {
      left: -190px !important; }
      .admin-box .admin-filter .filter-colapse * {
        display: none; }
  .admin-box .admin-database {
    position: fixed;
    top: 130px;
    left: 250px;
    width: calc(100% - 250px);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
    .admin-box .admin-database .label {
      background: #34495E;
      color: #f2f2f2;
      margin: 20px 0 0 40px;
      -webkit-align-self: flex-start;
      -ms-flex-item-align: start;
      align-self: flex-start;
      font-size: 12px; }
      .admin-box .admin-database .label span {
        color: #f2f2f2; }
    .admin-box .admin-database .user-col {
      width: 100%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      background: #f2f2f2;
      color: #34495E;
      padding: 0 10px;
      font-size: 14px;
      padding: 20px 40px 0 40px; }
    .admin-box .admin-database .col-foto {
      width: 60px;
      padding: 20px 0;
      text-align: center;
      border-bottom: 1px solid #34495E; }
    .admin-box .admin-database .col-name {
      width: 30%;
      padding: 20px 0;
      border-bottom: 1px solid #34495E; }
    .admin-box .admin-database .col-age,
    .admin-box .admin-database .col-dni,
    .admin-box .admin-database .col-mail,
    .admin-box .admin-database .col-phone {
      width: calc(70% / 4);
      text-align: right;
      padding: 20px 0;
      border-bottom: 1px solid #34495E; }
    .admin-box .admin-database .user-box {
      width: calc(100vw - 250px);
      height: calc(100vh - 245px);
      padding: 20px 40px;
      overflow-y: scroll; }
    .admin-box .admin-database .user-row {
      width: calc(100% + 28px);
      height: 55px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      background: #fff;
      font-size: 14px;
      padding: 0 10px;
      border-radius: 3px;
      -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
      margin-bottom: 10px;
      color: #b3b3b3;
      cursor: -webkit-zoom-in;
      cursor: zoom-in; }
      .admin-box .admin-database .user-row:hover {
        color: #34495E; }
    .admin-box .admin-database .user-foto {
      width: 40px;
      height: 40px;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 50%;
      margin-right: 20px; }
    .admin-box .admin-database .user-name {
      width: 30%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; }
    .admin-box .admin-database .user-age,
    .admin-box .admin-database .user-dni,
    .admin-box .admin-database .user-phone,
    .admin-box .admin-database .user-mail {
      width: calc(70% / 4);
      text-align: right; }
      .admin-box .admin-database .user-age span,
      .admin-box .admin-database .user-dni span,
      .admin-box .admin-database .user-phone span,
      .admin-box .admin-database .user-mail span {
        background: -webkit-gradient(linear, right top, left top, from(#65cefe), to(#f7ba5b));
        background: -webkit-linear-gradient(right, #65cefe, #f7ba5b);
        background: -o-linear-gradient(right, #65cefe, #f7ba5b);
        background: linear-gradient(270deg, #65cefe, #f7ba5b);
        background-size: 400% 400%;
        -webkit-animation: Gradient 2s ease infinite;
        animation: Gradient 2s ease infinite;
        border-radius: 20px;
        padding: 4px 8px;
        margin-right: 15px;
        font-size: 14px; }
        .admin-box .admin-database .user-age span i,
        .admin-box .admin-database .user-dni span i,
        .admin-box .admin-database .user-phone span i,
        .admin-box .admin-database .user-mail span i {
          color: #fff; }

.create-user {
  width: 100vw;
  height: calc(100vh - 100px);
  margin-top: 100px;
  overflow-y: scroll;
  padding: 40px; }
  .create-user .top-cahoot {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 30px;
    background: #fff;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
    z-index: 999; }
  .create-user .temporada {
    font-size: 24px;
    color: #34495E;
    line-height: 39px; }
  .create-user .go-close {
    width: 85px;
    height: 39px;
    background: tomato;
    color: #f2f2f2; }
  .create-user .create-user-top {
    width: calc(100% + 28px);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .create-user input[type="file"] {
    display: none; }
  .create-user .img-crop {
    width: 300px;
    height: 300px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background: #34495E url("../assets/img/user.svg") no-repeat center;
    background-size: 50%;
    border-radius: 50%;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
    text-align: center;
    color: #fff;
    margin-bottom: 20px;
    overflow: hidden; }
  .create-user .img-pre {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover; }
  .create-user .create-user-mid {
    width: calc(100% + 28px);
    text-align: center; }
  .create-user h3 {
    font-size: 1.2vw;
    margin: 40px 0 20px 0; }
  .create-user .row {
    max-width: 800px;
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 10px auto 20px auto; }
    .create-user .row label {
      position: relative;
      width: calc(50% - 40px);
      min-width: 300px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: start;
      -webkit-align-items: flex-start;
      -ms-flex-align: start;
      align-items: flex-start;
      font-size: 10px;
      overflow: hidden; }
    .create-user .row span {
      margin: 0 0 5px 10px; }
  .create-user input,
  .create-user select {
    width: calc(100% - 10px);
    height: 50px;
    padding: 0 10px;
    border: none;
    border-radius: 5px;
    margin: 0 3px 20px 3px;
    font-size: 14px;
    -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
    outline: none;
    color: #19b5fe; }
  .create-user label i {
    position: absolute;
    top: 0;
    bottom: 3px;
    right: 0;
    margin: auto -60px auto auto;
    height: 26px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 20px;
    color: tomato;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    cursor: pointer; }
  .create-user label[for="createDay"],
  .create-user label[for="createMonth"],
  .create-user label[for="createYear"],
  .create-user label[for="userMan"],
  .create-user label[for="userWoman"] {
    width: calc((100% - 80px) / 3);
    min-width: calc(300px / 3);
    margin: 0px; }
    .create-user label[for="createDay"] input[type="radio"],
    .create-user label[for="createMonth"] input[type="radio"],
    .create-user label[for="createYear"] input[type="radio"],
    .create-user label[for="userMan"] input[type="radio"],
    .create-user label[for="userWoman"] input[type="radio"] {
      -webkit-appearance: radio;
      -moz-appearance: radio;
      appearance: radio;
      -webkit-box-shadow: none;
      box-shadow: none;
      height: auto;
      text-align: center; }
  .create-user label[for="userGender"] {
    width: auto;
    min-width: 300px;
    margin: 10px 0 0 0; }
  .create-user #userNum,
  .create-user #createOld {
    cursor: not-allowed; }
  .create-user .create-user-bot {
    width: calc(100% + 28px);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
  .create-user pre {
    margin-bottom: 20px; }
  .create-user .go-create {
    background: #34495E;
    color: #fff;
    margin: 0 10px; }
  .create-user .go-remove {
    background: tomato;
    color: #fff;
    margin: 0 10px; }

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(242, 242, 242, 0.8);
  display: none;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
  .loader i {
    font-size: 80px;
    color: #19b5fe;
    -webkit-animation: spinner 2s infinite;
    animation: spinner 2s infinite; }

.create-user {
  width: 100vw;
  height: calc(100vh - 100px);
  margin-top: 100px;
  overflow-y: scroll;
  padding: 40px; }
  .create-user .top-cahoot {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 30px;
    background: #fff;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
    z-index: 999; }
  .create-user .temporada {
    font-size: 24px;
    color: #34495E;
    line-height: 39px; }
  .create-user .go-close {
    width: 85px;
    height: 39px;
    background: tomato;
    color: #f2f2f2; }
  .create-user .create-user-top {
    width: calc(100% + 28px);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .create-user input[type="file"] {
    display: none; }
  .create-user .img-crop {
    width: 300px;
    height: 300px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background: #34495E url("../assets/img/user.svg") no-repeat center;
    background-size: 50%;
    border-radius: 50%;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
    text-align: center;
    color: #fff;
    margin-bottom: 20px;
    overflow: hidden; }
  .create-user .img-pre {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover; }
  .create-user .create-user-mid {
    width: calc(100% + 28px);
    text-align: center; }
  .create-user h3 {
    font-size: 1.2vw;
    margin: 40px 0 20px 0; }
  .create-user .row {
    max-width: 800px;
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 10px auto 20px auto; }
    .create-user .row label {
      position: relative;
      width: calc(50% - 40px);
      min-width: 300px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: start;
      -webkit-align-items: flex-start;
      -ms-flex-align: start;
      align-items: flex-start;
      font-size: 10px;
      overflow: hidden; }
    .create-user .row span {
      margin: 0 0 5px 10px; }
  .create-user input,
  .create-user select {
    width: calc(100% - 10px);
    height: 50px;
    padding: 0 10px;
    border: none;
    border-radius: 5px;
    margin: 0 3px 20px 3px;
    font-size: 14px;
    -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
    outline: none;
    color: #19b5fe; }
  .create-user label i {
    position: absolute;
    top: 0;
    bottom: 3px;
    right: 0;
    margin: auto -60px auto auto;
    height: 26px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 20px;
    color: tomato;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    cursor: pointer; }
  .create-user label[for="createDay"],
  .create-user label[for="createMonth"],
  .create-user label[for="createYear"],
  .create-user label[for="userMan"],
  .create-user label[for="userWoman"] {
    width: calc((100% - 80px) / 3);
    min-width: calc(300px / 3);
    margin: 0px; }
    .create-user label[for="createDay"] input[type="radio"],
    .create-user label[for="createMonth"] input[type="radio"],
    .create-user label[for="createYear"] input[type="radio"],
    .create-user label[for="userMan"] input[type="radio"],
    .create-user label[for="userWoman"] input[type="radio"] {
      -webkit-appearance: radio;
      -moz-appearance: radio;
      appearance: radio;
      -webkit-box-shadow: none;
      box-shadow: none;
      height: auto;
      text-align: center; }
  .create-user label[for="userGender"] {
    width: auto;
    min-width: 300px;
    margin: 10px 0 0 0; }
  .create-user #userNum,
  .create-user #createOld {
    cursor: not-allowed; }
  .create-user .create-user-bot {
    width: calc(100% + 28px);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
  .create-user pre {
    margin-bottom: 20px; }
  .create-user .go-create {
    background: #34495E;
    color: #fff;
    margin: 0 10px; }
  .create-user .go-remove {
    background: tomato;
    color: #fff;
    margin: 0 10px; }

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(242, 242, 242, 0.8);
  display: none;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
  .loader i {
    font-size: 80px;
    color: #19b5fe;
    -webkit-animation: spinner 2s infinite;
    animation: spinner 2s infinite; }

.swiper-container {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #fff;
  border-radius: 10px; }

.swiper-slide {
  height: 92vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  font-size: 18px; }

.swiper-pagination {
  position: fixed !important;
  bottom: 0 !important;
  width: 100vw !important;
  height: 8vh !important;
  background: #fff;
  border-top: 1px solid #f2f2f2; }

.swiper-pagination-bullet {
  width: calc(100% / 3) !important;
  height: 100% !important;
  margin: 0 !important;
  background: transparent !important;
  border-radius: 0;
  text-align: center;
  opacity: 1;
  font-family: FontAwesome;
  font-size: 4vh !important;
  color: #b3b3b3 !important; }
  .swiper-pagination-bullet:after {
    position: absolute;
    width: calc(100% / 3);
    height: 8vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
  .swiper-pagination-bullet:nth-of-type(1):after {
    content: '\f2c1'; }
  .swiper-pagination-bullet:nth-of-type(2):after {
    content: '\f1ea'; }
  .swiper-pagination-bullet:nth-of-type(3):after {
    content: '\f02b'; }

.swiper-pagination-bullet-active {
  background: transparent !important;
  color: #f39c12 !important; }

.app-login-box {
  width: 100vw;
  height: 100vh;
  background: url("../assets/img/background.png") no-repeat bottom;
  background-size: cover;
  border-radius: 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-animation: goIn .5s;
  animation: goIn .5s;
  overflow: hidden; }
  .app-login-box .logo {
    height: 15vh;
    margin: auto 0; }
  .app-login-box h1 {
    margin-bottom: 20px; }
  .app-login-box input {
    width: 80%;
    max-width: 400px;
    height: 60px;
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #b3b3b3;
    border-radius: 30px;
    outline: none; }
    .app-login-box input:focus {
      border: 2px solid #19b5fe; }
  .app-login-box .go-entrar {
    background: #f39c12;
    color: #fff; }
  .app-login-box pre {
    height: 50px;
    margin-top: 40px; }

@-webkit-keyframes goIn {
  from {
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0); }
  to {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1); } }

@keyframes goIn {
  from {
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0); }
  to {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1); } }

.slide-id .user-row {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 14px;
  letter-spacing: .3px; }
  .slide-id .user-row:hover {
    color: #34495E; }

.slide-id .club-temporada {
  position: fixed;
  top: 20px;
  left: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-size: 4vw;
  line-height: 20px; }

.slide-id .go-out {
  position: fixed;
  top: 20px;
  right: 20px;
  color: #34495E;
  font-size: 6vw;
  line-height: 20px; }

.slide-id .user-foto {
  width: 55vw;
  height: 55vw;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  margin-top: 20vh;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  -webkit-animation: none;
  animation: none; }

.slide-id #qrcode {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  -webkit-animation: none;
  animation: none; }

.slide-id .row {
  width: 85%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin-bottom: 10px; }
  .slide-id .row span {
    margin-bottom: 5px;
    padding: 0 10px;
    font-size: 3.5vw; }

.slide-id .user-name,
.slide-id .user-num {
  width: 100%;
  min-height: 50px;
  line-height: 50px;
  padding: 0 10px;
  text-align: left;
  background: #fff;
  margin-bottom: 25px;
  font-size: 5vw;
  color: #34495E; }

.slide-news {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
