//basics
$black: #1a1a1a;
$white: #f2f2f2;
$grey: #b3b3b3;

//hyperlinks
$blue: #19b5fe;

//primary colors
$orange: #f39c12;

//horizontal gradients
@mixin hGrad {
    background: #FF4E50;
    background: -webkit-linear-gradient(to right, #F9D423, #FF4E50);
    background: linear-gradient(to right, #F9D423, #FF4E50);
}

//vertical gradients
@mixin vGrad {
    background: #FF4E50;
    background: -webkit-linear-gradient(to bottom, #F9D423, #FF4E50);
    background: linear-gradient(to bottom, #F9D423, #FF4E50);
}

//shadows
$flat: 0 0 10px 0 rgba(#000, .26);
$light: 0 2px 4px 0 rgba(#000, .16);
$dark: 0 2px 4px 0 rgba(#000, .26);

//scrollbar style
.scrollbar::-webkit-scrollbar-track {
    background-color: transparent;
}
.scrollbar::-webkit-scrollbar {
    width: 18px;
    background-color: transparent;
}
.scrollbar::-webkit-scrollbar-thumb {
    border: 6px solid $white;
    border-radius: 30px;
    background: $grey;
}