//class style

//ui elements
.box {
    background: #fff;
    box-shadow: $light;
    border-radius: 5px;
    padding: 40px;
}

.ghost {
    background: $white;
    padding: 10px;
    border-radius: 5px;
}

.row {
    display: flex;
    align-items: center;
}

.wrap {
    display: flex;
    flex-wrap: wrap;
}

.div {
    width: 100%;
    height: 1px;
    background: $grey;
    margin: 10px 0;
}

.vdiv {
    width: 1px;
    height: 100%;
    background: $grey;
    margin: 0 10px;
}

.dot {
    width: 8px;
    height: 8px;
    display: block;
    border-radius: 50%;
}

.btn {
    cursor: pointer;
    transition: .2s;
    user-select: none;
    box-shadow: $light;
    padding: 10px 20px;
    background: $blue;
    color: $white;
    border-radius: 5px;
    text-align: center;
    &:hover {
        background: $grey;
    }
}

.label {
    user-select: none;
    padding: 2px 10px;
    border-radius: 20px;
    color: $white;
    text-align: center;
}

.link {
    cursor: pointer;
    color: $blue;
    user-select: none;
}

//inputs
.text {
    width: 100%;
    min-width: 250px;
    transition: .2s;
    box-shadow: $light;
    padding: 15px 25px;
    background: $white;
    border-radius: 5px;
    &:focus {
        background: darken($white, 5%);
    }
}

//modals
.outter-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    transition: .5s;
    z-index: -1;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 50%;
    margin: auto;
    min-width: 200px;
    min-width: 100px;
    transition: .5s;
    opacity: 0;
    z-index: -1;
}

.show-modal {
    z-index: 999;
    bottom: 0;
    opacity: 1;
}

//shadows
.flat { box-shadow: $flat }
.light { box-shadow: $light }
.dark { box-shadow: $dark }

//gradients
.hgrad { @include hGrad }
.vgrad { @include vGrad }