@import './assets';
@import './m.framework';
@import './swiper';

h1 {
    font-size: 26px;
}

input,button, p, a, pre {
    font-size: 12px;
}

pre {
    min-height: 20px;
    white-space: pre-wrap;
    word-wrap: break-word;
    text-align: center; 
    margin: 20px 0;
}

//mobile views style
@import '../build/login/m.login';
@import '../build/app/m.app';