<div class="admin-box">

    <div class="admin-top">
        <div class="search-box">
            <i class="fa fa-search" aria-hidden="true"></i>
            <input type="text" id="searchFor" ng-model="searchUser" placeholder="Buscar...">
        </div>
        <div class="top-btns">
            <p>Usuario:
                <span>{{adminName}}</span>
            </p>
            <div class="btn go-out" ng-click="signOut()">Cerrar sesión</div>
        </div>
    </div>

    <div class="admin-left">
        <img src="./assets/img/cahoot.svg" alt="RCS">

        <h6 class="title">Filtrar por</h6>

        <hr>

        <div class="genero-box">
            <h4>Genero</h4>
            <input type="radio" id="radio forGen" name="genero" ng-model="userGender" value="" checked>
            <label for="radio forGen" name="genero" class="clear">
                <span class="active-bg filter-active">Todos</span>Todos</label>
            <input type="radio" id="radio forMen" name="genero" ng-model="userGender" value="hombre">
            <label for="radio forMen">
                <span class="active-bg">Hombres</span>Hombres</label>
            <input type="radio" id="radio forWomen" name="genero" ng-model="userGender" value="mujer">
            <label for="radio forWomen">
                <span class="active-bg">Mujeres</span>Mujeres</label>
        </div>

        <hr>

        <div class="edad-box">
            <h4>Edad</h4>
            <input type="radio" id="radio forAge" name="edad" ng-model="userOld" value="" checked>
            <label for="radio forAge" name="edad" class="clear">
                <span class="active-bg filter-active">Todos</span>Todos</label>
            <input type="radio" id="radio forTeen" name="edad" ng-model="userOld" value="">
            <label for="radio forTeen">
                <span class="active-bg">-18 años</span>-18 años</label>
            <input type="radio" id="radio forAdult" name="edad" ng-model="userOld" value="">
            <label for=" radio forAdult">
                <span class="active-bg">+18 años</span>+18 años</label>
        </div>
    </div>

    <div class="admin-right">
        <div class="create-box">
            <div class="btn new-user">Crear socio</div>
            <div class="btn new-space">Crear espacio</div>
        </div>
        <div class="user-box">

            <div class="user-col">
                <p class="col-foto">Foto</p>
                <p class="col-name">Nombre y apellidos</p>
                <p class="col-age">Edad</p>
                <p class="col-dni">DNI/Pas</p>
                <p class="col-mail">Email</p>
                <p class="col-phone">Teléfono</p>
            </div>

            <div class="user-row" ng-click="editUser($event)" ng-repeat="user in users | filter: searchUser | filter: userGender">
                <div class="user-foto" style="background-image: url('{{user.photo}}')"></div>
                <div class="user-name">
                    <p class="u-name">{{user.name}}</p>&nbsp;
                    <p class="u-sur">{{user.sur}}</p>&nbsp;
                    <p class="u-last">{{user.last}}</p>
                </div>
                <div class="user-age">
                    <span ng-if="user.day == nowDay && user.month == nowMonth">
                        <i class="fa fa-gift" aria-hidden="true"></i> cumpleaños</span>
                    {{currentYear - user.year}}
                </div>
                <div class="user-dni">{{user.dni}}</div>
                <div class="user-mail">{{user.email}}</div>
                <div class="user-phone">{{user.phone}}</div>
                <div class="hidden-content">
                    <div class="user-num">{{user.num}}</div>
                    <div class="user-old">{{user.old}}</div>
                    <div class="user-day">{{user.day}}</div>
                    <div class="user-month">{{user.month}}</div>
                    <div class="user-year">{{user.year}}</div>
                    <div class="user-gender">{{user.man}}</div>
                    <div class="user-gender">{{user.woman}}</div>
                    <div class="user-pass">{{user.pass}}</div>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="create-user">
    <div class="temporada">Temporada {{currentYear}}</div>
    <div class="btn go-close">
        <p>Cerrar</p>
    </div>

    <div class="create-user-top">
        <input type="file" id="imgInp">
        <label for="imgInp" class="img-crop">
            <img class="img-pre" src="#">
        </label>
    </div>

    <div class="create-user-mid">
        <h3>Información básica</h3>
        <div class="row">
            <label for="createName">
                <span>Nombre</span>
                <input type="text" id="createName" placeholder="Jaume" ng-model="name">
                <i class="fa fa-times-circle" aria-hidden="true"></i>
            </label>
            <label for="createSur">
                <span>Primer apellido</span>
                <input type="text" id="createSur" placeholder="Andreu" ng-model="sur">
                <i class="fa fa-times-circle" aria-hidden="true"></i>
            </label>
            <label for="createLast">
                <span>Segundo Apellido</span>
                <input type="text" id="createLast" placeholder="Garcia" ng-model="last">
                <i class="fa fa-times-circle" aria-hidden="true"></i>
            </label>
            <label for="createDni">
                <span>DNI/Pas</span>
                <input type="text" id="createDni" placeholder="12345678a" ng-model="dni">
                <i class="fa fa-times-circle" aria-hidden="true"></i>
            </label>
            <label for="userNum">
                <span>Número de socio</span>
                <input type="tel" maxlength="4" id="userNum" placeholder="0001" ng-model="num">
                <i class="fa fa-times-circle" aria-hidden="true"></i>
            </label>
            <label for="createOld">
                <span>Antigüedad</span>
                <input type="text" id="createOld" placeholder="{{currentYear}}" ng-model="old">
            </label>
            <label for="createDay">
                <span>Día</span>
                <input type="tel" maxlength="2" id="createDay" placeholder="31" ng-model="day">
                <i class="fa fa-times-circle" aria-hidden="true"></i>
            </label>
            <label for="createMonth">
                <span>Mes</span>
                <input type="tel" maxlength="2" id="createMonth" placeholder="12" ng-model="month">
                <i class="fa fa-times-circle" aria-hidden="true"></i>
            </label>
            <label for="createYear">
                <span>Año</span>
                <input type="tel" maxlength="4" id="createYear" placeholder="{{currentYear}}" ng-model="year">
                <i class="fa fa-times-circle" aria-hidden="true"></i>
            </label>
            <label for="userSex">
                <span>
                    <input type="radio" id="userMan" name="userSex" ng-model="man" value="hombre">
                    <label for="hombre">Hombre</label>
                    <input type="radio" id="userWoman" name="userSex" ng-model="woman" value="mujer">
                    <label for="mujer">Mujer</label>
                </span>
            </label>
        </div>

        <h3>Información de contacto</h3>
        <div class="row">
            <label for="createEmail">
                <span>Correo electrónico</span>
                <input type="email" id="createEmail" placeholder="Correo electrónico" ng-model="email">
                <i class="fa fa-times-circle" aria-hidden="true"></i>
            </label>
            <label for="createPass">
                <span>Contraseña</span>
                <input type="text" id="createPass" placeholder="Contraseña" ng-model="pass">
                <i class="fa fa-times-circle" aria-hidden="true"></i>
            </label>
            <label for="createPhone">
                <span>Teléfono</span>
                <input type="tel" maxlength="9" id="createPhone" placeholder="Teléfono" ng-model="phone">
                <i class="fa fa-times-circle" aria-hidden="true"></i>
            </label>
        </div>
    </div>

    <div class="create-user-bot">
        <pre>{{createError}}</pre>
        <div class="btn go-create" ng-click="newUser()">Crear socio</div>
    </div>

    <div class="loader">
        <i class="fa fa-circle-o-notch" aria-hidden="true"></i>
    </div>
</div>

<div class="open-user">
        <div class="temporada">Temporada {{currentYear}}</div>
        <div class="btn go-close">
            <p>Cerrar</p>
        </div>
    
        <div class="open-user-top">
            <input type="file" id="imgInp">
            <label for="imgInp" class="img-crop">
                <img class="img-pre" src="#">
            </label>
        </div>
    
        <div class="open-user-mid">
            <h3>Información básica</h3>
            <div class="row">
                <label for="openName">
                    <span>Nombre</span>
                    <input type="text" id="openName" placeholder="Jaume" ng-model="name">
                    <i class="fa fa-times-circle" aria-hidden="true"></i>
                </label>
                <label for="openSur">
                    <span>Primer apellido</span>
                    <input type="text" id="openSur" placeholder="Andreu" ng-model="sur">
                    <i class="fa fa-times-circle" aria-hidden="true"></i>
                </label>
                <label for="openLast">
                    <span>Segundo Apellido</span>
                    <input type="text" id="openLast" placeholder="Garcia" ng-model="last">
                    <i class="fa fa-times-circle" aria-hidden="true"></i>
                </label>
                <label for="openDni">
                    <span>DNI/Pas</span>
                    <input type="text" id="openDni" placeholder="12345678a" ng-model="dni" disabled>
                    <i class="fa fa-times-circle" aria-hidden="true"></i>
                </label>
                <label for="userNum">
                    <span>Número de socio</span>
                    <input type="tel" maxlength="4" id="userNum" ng-value="userCount" placeholder="0001" ng-model="num">
                    <i class="fa fa-times-circle" aria-hidden="true"></i>
                </label>
                <label for="openOld">
                    <span>Antigüedad</span>
                    <input type="text" id="openOld" placeholder="{{currentYear}}" ng-model="old">
                </label>
                <label for="openDay">
                    <span>Día</span>
                    <input type="tel" maxlength="2" id="openDay" placeholder="31" ng-model="day">
                    <i class="fa fa-times-circle" aria-hidden="true"></i>
                </label>
                <label for="openMonth">
                    <span>Mes</span>
                    <input type="tel" maxlength="2" id="openMonth" placeholder="12" ng-model="month">
                    <i class="fa fa-times-circle" aria-hidden="true"></i>
                </label>
                <label for="openYear">
                    <span>Año</span>
                    <input type="tel" maxlength="4" id="openYear" placeholder="{{currentYear}}" ng-model="year">
                    <i class="fa fa-times-circle" aria-hidden="true"></i>
                </label>
                <label for="userSex">
                    <span>
                        <input type="radio" id="userMan" name="userSex" ng-model="man" value="hombre">
                        <label for="hombre">Hombre</label>
                        <input type="radio" id="userWoman" name="userSex" ng-model="woman" value="mujer">
                        <label for="mujer">Mujer</label>
                    </span>
                </label>
            </div>
    
            <h3>Información de contacto</h3>
            <div class="row">
                <label for="openEmail">
                    <span>Correo electrónico</span>
                    <input type="email" id="openEmail" placeholder="Correo electrónico" ng-model="email">
                    <i class="fa fa-times-circle" aria-hidden="true"></i>
                </label>
                <label for="openPass">
                    <span>Contraseña</span>
                    <input type="text" id="openPass" placeholder="Contraseña" ng-model="pass">
                    <i class="fa fa-times-circle" aria-hidden="true"></i>
                </label>
                <label for="openPhone">
                    <span>Teléfono</span>
                    <input type="tel" maxlength="9" id="openPhone" placeholder="Teléfono" ng-model="phone">
                    <i class="fa fa-times-circle" aria-hidden="true"></i>
                </label>
            </div>
        </div>
    
        <div class="open-user-bot">
            <pre>{{openError}}</pre>
            <div class="btn go-open" ng-click="newUser()">Guardar cambios</div>
            <div class="btn go-delete">Eliminar</div>
        </div>
    
        <div class="loader">
            <i class="fa fa-circle-o-notch" aria-hidden="true"></i>
        </div>
    </div>