<div class="app-login-box">
    <img src="./assets/img/cahoot.svg" alt="cahoot" class="logo">
    <h1>Inicio de sesión</h1>
    <input id="userEmail" type="email" placeholder="Correo electrónico">
    <input id="userPass" type="password" placeholder="Contraseña">
    <div class="btn go-entrar" ng-click="userSignIn()">ENTRAR</div>
    <pre>{{msg}}</pre>
</div>