<div id="fb-root"></div>
<script>
    window.fbAsyncInit = function () {
        FB.init({
            appId: '1488506774603549',
            autoLogAppEvents: true,
            xfbml: true,
            version: 'v2.10'
        });
        FB.AppEvents.logPageView();
    };

    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {
            return;
        }
        js = d.createElement(s);
        js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>

<div class="swiper-container">
    <div class="swiper-wrapper">

        <div class="swiper-slide slide-id">
            <div class="user-row" ng-repeat="user in users | filter: currentUserEmail">

                <input type="text" ng-model="currentUserEmail.email" style="display:none">

                <div class="user-foto" style="background-image: url('{{user.photo}}')"></div>
                <div class="user-name">{{user.name}} {{user.sur}} {{user.last}}</div>
                <div class="user-age">{{2017 - user.year}}</div>
                <div class="user-dni">{{user.dni}}</div>
                <div class="user-mail">{{user.email}}</div>
                <div class="user-phone">{{user.phone}}</div>
                <div class="btn go-out" ng-click="userSignOut()">Cerrar sesión</div>
            </div>
        </div>

        <div class="swiper-slide slide-news">
            <div class="fb-page" data-href="https://www.facebook.com/rugbysitges/" data-tabs="timeline" data-small-header="true" data-adapt-container-width="true" data-hide-cover="true" data-show-facepile="false">
            </div>
        </div>

        <div class="swiper-slide slide-partners">Promociones</div>

    </div>

    <div class="swiper-pagination"></div>
</div>

<script src="./lib/swiper.js"></script>
<script>
    var swiper = new Swiper('.swiper-container', {
        pagination: '.swiper-pagination',
        paginationClickable: true
    });
</script>