<div class="landing-box">

    <div class="land-top">
        <img src="./assets/img/cahoot.svg" alt="cahoot">
        <div class="top-btns">
            <div class="mas-info">Más información</div>
            <div class="btn go-iniciar" ng-click="goIn()">Iniciar sesión</div>
        </div>
    </div>

    <div class="land-left">
        <h1>Una app para reunirlos a todos</h1>
        <h2>
            Con cahoot podrás mover todos tus usuarios a la nube. Olvidate de complejas impresoras y obsoletos medotos para parecer profesional,
            y ofrece el servicio de calidad con el que siempre has soñado.
        </h2>
        <div class="btn go-plan">Empieza ahora</div>
    </div>
    
    <div class="land-right">
        <img src="./assets/img/landing-animation.gif" alt="animation">
    </div>

    <div class="land-bot">
        <a href="mailto:verdu@live.com">Si tienes cualquier duda ponte en contacto con nosotros.</a>
    </div>

</div>