<div class="login-box">
    <img src="./assets/img/cahoot.svg" alt="cahoot" class="logo" ng-click="goHome()">
    <h1>Inicio de sesión</h1>
    <input id="emailTxt" type="email" placeholder="Usuario">
    <input id="passTxt" type="password" placeholder="Contraseña">
    <div class="btn go-entrar" ng-click="signIn()">ENTRAR</div>
    <pre>{{msg}}</pre>

    <div class="land-bot">
        <a href="mailto:verdu@live.com">Si tienes cualquier duda ponte en contacto con nosotros.</a>
    </div>
</div>