.landing-box {
    flex-direction: column;
    padding: 20px;
}

.land-top {
    height: 20vw;
    padding: 10px;
    .go-iniciar {
        border: 1px solid $grey;
        color: $grey;
        transform: scale(.8,.8);
        transform-origin: bottom;
        margin-left: 10px;
    }
    .mas-info {
        display: none;
    }
}

.land-left {
    width: 100%;
    justify-content: flex-start;
    padding: 16vh 10px 0;
    h1 {
        font-size: 10vw;
    }
    h2 {
        font-size: 4.5vw;
        margin-bottom: 30px;
    }
    .go-plan {
        align-self: center;
    }
}

.land-right {
    display: none;
}

.land-bot {
    height: 60px;
    padding: 0 20px;
}