//enter view
.ng-enter {
    animation: fadeIn both .3s;

    //overlay fix
    animation-delay: .3s;
}

//leave view
.ng-leave {
    animation: fadeOut both .3s;
}

//animations
@keyframes fadeIn {
    from {opacity: 0; position: relative;}
    to {opacity: 1; position: relative;}
}
@keyframes fadeOut {
    from {opacity: 1; position: relative;}
    to {opacity: 0; position: relative;}
}

@keyframes scaleIn {
    from {transform: scale(0,0); opacity: 0}
    to {transform: scale(1,1); opacity: 1}
}
@keyframes scaleOut {
    from {transform: scale(1,1); opacity: 1}
    to {transform: scale(0,0); opacity: 0}
}

@keyframes fromTop {
    from {transform: translateY(-100vh); opacity: 0}
    to {transform: translateY(0); opacity: 1}
}
@keyframes fromLeft {
    from {transform: translateX(-100vw); opacity: 0}
    to {transform: translateX(0); opacity: 1}
}
@keyframes fromRight {
    from {transform: translateX(100vw); opacity: 0}
    to {transform: translateX(0); opacity: 1}
}
@keyframes fromBot {
    from {transform: translateY(100vh); opacity: 0}
    to {transform: translateY(0); opacity: 1}
}

@keyframes toTop {
    from {transform: translateY(0); opacity: 1}
    to {transform: translateY(-100vh); opacity: 0}
}
@keyframes toLeft {
    from {transform: translateX(0); opacity: 1}
    to {transform: translateX(-100vw); opacity: 0}
}
@keyframes toRight {
    from {transform: translateX(0); opacity: 1}
    to {transform: translateX(100vw); opacity: 0}
}
@keyframes toBot {
    from {transform: translateY(0); opacity: 1}
    to {transform: translateY(100vh); opacity: 0}
}

@keyframes spinner {
    from {transform: rotate(0)};
    to {transform: rotate(360deg)}    
}
@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}