//basics
$black: #34495E;
$white: #f2f2f2;
$grey: #b3b3b3;

//hyperlinks
$blue: #19b5fe;

//primary colors
$orange: #f39c12;

//horizontal gradients
@mixin hGrad {
    background: #FF4E50;
    background: -webkit-linear-gradient(to right, #F9D423, #FF4E50);
    background: linear-gradient(to right, #F9D423, #FF4E50);
}

//vertical gradients
@mixin vGrad {
    background: #FF4E50;
    background: -webkit-linear-gradient(to bottom, #F9D423, #FF4E50);
    background: linear-gradient(to bottom, #F9D423, #FF4E50);
}

//shadows
$flat: 0 0 2px 0 rgba(0,0,0,0.32), 0 0 0 1px rgba(0,0,0,0.16);
$light: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
$dark: 0 2px 2px 0 rgba(0,0,0,0.32), 0 0 0 1px rgba(0,0,0,0.16);

//scrollbar style
.scrollbar::-webkit-scrollbar-track {
    background-color: $white;
    border-radius: 28px;
}
.scrollbar::-webkit-scrollbar {
    width: 28px;
    background-color: $white;
}
.scrollbar::-webkit-scrollbar-thumb {
    border: 10px solid $white;
    border-radius: 28px;
    background: $grey;
}