@import './assets';
@import './animations';
@import './framework';
@import './swiper';

html, body, main {
  width: 100vw;
  overflow-x: hidden;
  
  //bg color
  background: #000;
}

//mobile views style
@import '../build/app/app.scss';