@import './assets';
@import './animations';
@import './framework';
@import './swiper';

//main style
* {
    //reset
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-shadow: none;
    appearance: none;
    
    //text color
    color: $black;

    // renders
    image-rendering: crisp-edges;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    // fonts
    font-family: 'Fira Sans';
}
    
html, body, main {
    width: 100vw;
    overflow-x: hidden;
    
    //bg color
    background: $white;
}

//hyperlinks
a {
    color: $blue;
    text-decoration: none;
}

//errors box
pre {
    min-height: 20px;
    white-space: pre-wrap;
    word-wrap: break-word;
    text-align: center; 
    margin: 40px 0;
}

//views style
@import '../build/login/login';
@import '../build/admin/admin';
@import '../build/app/app';