.admin-box {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: lighten($white, 3%);
  animation: goIn .5s;

  .admin-top {
    position: fixed;
    top: 0;
    left: 290px;
    width: calc(100% - 330px);
    height: 100px;
    display: flex;
    align-items: center;
    background: lighten($white, 3%);
    padding: 0 20px;
    transition: 1s;
    z-index: 99;
    animation: comeTop 1s;

    .search-box {
      width: 100%;
      display: flex;
      box-shadow: 0 1px 3px 0 rgba(#000,.2);
      border-radius: 5px;
      background: #fff;
      margin-right: 20px;
    }

    i {
      min-width: 40px;
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    input {
      width: 100%;
      height: 50px;
      border: none;
      outline: none;
      font-family: FontAwesome, 'Fira Sans';
      font-size: 16px;
      background: transparent;
    }

    .top-btns {
      width: auto;
      display: flex;
      align-items: center;
    }

    p {
      width: auto;
      display: flex;
      color: $grey;
      margin-right: 20px;
      span {
        color: $black;
        text-transform: uppercase;
        margin-left: 10px;
        font-weight: 800;
      }
    }
    .go-out {
      width: 130px;
      height: auto;
      border: 2px solid tomato;
      background: tomato;
      color: #fff;
      padding: 10px 15px;
      &:hover {
        background: transparent !important;
        color: tomato !important;
      }
    }
  }

  .admin-left {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    display: flex;
    flex-direction: column;
    background: #fff;
    padding: 10px 30px;
    box-shadow: 1px 0 3px 0 rgba(#000,.2);
    transition: .5s;
    z-index: 99;
    img {
      height: 60px;
      margin-bottom: 50px;
    }
    .genero-box, .edad-box {
      display: flex;
      flex-direction: column;
    }
    input {
      display: none;
    }
    h4 {
      margin-bottom: 10px;
    }
    label {
      position: relative;
      padding: 10px 20px;
      border-radius: 40px;
      margin-bottom: 10px;
      overflow: hidden;
      cursor: pointer;
    }
    hr {
      margin: 20px 0;
      border-top: 1px solid $white;
    }
  }

  .admin-right {
    width: calc(100% - 250px);
    margin: 240px 0 0 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: darken($grey, 10%);
    transition: 1s;
    .create-box {
      position: fixed;
      top: 90px;
      width: calc(100% - 290px);
      height: 100px;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      padding: 10px;
      background: lighten($white, 3%);
      transition: .5s;
    }
    .new-user, .new-space {
      margin: 0 10px;
      border: 1px solid $grey;
    }
    .user-col {
      position: fixed;
      top: 90px;
      left: 315px;
      width: calc(100% - 380px);
      display: flex;
      justify-content: space-between;
      background: lighten($white, 3%);
      color: $black;
      margin: 80px 0 20px 0;
      padding: 0 25px;
      font-size: 14px;
      letter-spacing: .3px;
      border-bottom: 2px solid $grey;
      transition: .5s;
    }
    .col-foto {
      width: 60px;
      padding: 20px 0;
    }
    .col-name {
      width: 30%;
      padding: 20px 0;
    }
    .col-age, .col-dni, .col-phone, .col-mail {
      width: calc((70% / 4) - (60px / 4));
      text-align: right;
      padding: 20px 0;
    }
    .user-row {
      width: calc(93vw - 290px);
      height: 60px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background: #fff;
      font-size: 15px;
      letter-spacing: .3px;
      padding: 0 10px;
      border-radius: 5px;
      box-shadow: 0 1px 3px 0 rgba(#000,.2);
      margin-bottom: 10px;
      cursor: zoom-in;
      transition: .5s;
      &:hover {
        color: $black;
      }
    }

    
    .user-foto {
      width: 40px;
      height: 40px;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 50%;
      border: 1px solid $grey;
      margin-right: 20px;
    }
    .user-name {
      width: 30%;
      display: flex;
    }

    .user-age, .user-dni, .user-phone, .user-mail {
      width: calc((70% / 4) - (60px / 4));
      text-align: right;
      span {
        background: linear-gradient(270deg, lighten($blue, 15%), lighten($orange, 15%));
        background-size: 400% 400%;
        animation: Gradient 2s ease infinite;
        border-radius: 20px;
        padding: 4px 8px;
        color: #fff;
        margin-right: 15px;
        font-size: 14px;
      }
    }

    .hidden-content {
      display: none;
    }
  }
}

.active-bg {
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: $blue;
  color: #fff;
  padding: 10px 20px;
  transition: .2s;
  border-radius: 30px;
}

.filter-active {
  left: 0;
}

.filter-colapse {
  left: -190px !important;
  * {
    display: none;
  }
}

.admin-top-up {
  top: -50vh !important;
}

.margin-users {
  transform: translateY(100vh);
}