$black: #1a1a1a;
$white: #f2f2f2;
$grey: #b3b3b3;
$orange: #f39c12;
$blue: #19b5fe;

.btn {
    padding: 10px 20px;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;
    user-select: none;
    text-align: center;
    &:hover {
        background: $grey;
        color: #fff !important;
    }
}

@keyframes comeTop {
    from {top: -120px; opacity: 0}
    to {top: 0; opacity: 1}
}
@keyframes comeLeft {
    from {left: -55vw; opacity: 0}
    to {left: 0; opacity: 1}
}
@keyframes comeRight {
    from {right: -55vw; opacity: 0}
    to {right: 0; opacity: 1}
}
@keyframes comeBot {
    from {bottom: -60px; opacity: 0}
    to {bottom: 0; opacity: 1}
}

.go-top {
    top: -120px !important;
    opacity: 0;
}
.go-left {
    left: -55vw !important;
    opacity: 0;
}
.go-right {
    right: -55vw !important;
    opacity: 0;
}
.go-bot {
    bottom: -60px !important;
    opacity: 0;
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes spinner {
    from {transform: rotate(0)};
    to {transform: rotate(360deg)}    
}