.create-user {
    position: fixed;
    top: 0;
    left: 60px;
    width: calc(100vw - 60px);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    padding: 40px;
    opacity: 0;
    z-index: -1;
    transition: 1s; 

    .create-user-top {
        display: flex;
        align-items: center;
    }

    input[type="file"] {
        display: none;
    }

    .img-crop {
        width: 15vw;
        height: 15vw;
        display: flex;
        justify-content: center;
        align-items: center;
        background: $blue url("../assets/img/user.svg") no-repeat center;
        background-size: 60%;
        border-radius: 50%;
        overflow: hidden;
        border: 2px solid $blue;
        text-align: center;
        color: #fff;
        margin-bottom: 20px;
    }

    .img-pre {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .create-user-mid {
        width: 90%;
        text-align: center;
    }

    h3 {
        font-size: 1.2vw;
        margin-bottom: .5vw;
    }

    .row {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 10px 0 20px 0;
        label {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            font-size: 10px;
            margin-right: 20px;
            overflow: hidden;
        }
        span {
            margin: 0 0 5px 10px;
        }
    }

    input {
        width: calc(25vw - 40px);
        height: 50px;
        padding: 0 10px;
        border: none;
        border-radius: 5px;
        margin: 0 3px 20px;
        font-size: 14px;
        box-shadow: 0 1px 3px 0 rgba(#000,.2);
        outline: none;
    }

    label i {
            content: 'Borrar';
            position: absolute;
            top: 0;
            bottom: 3px;
            right: 0;
            margin: auto -60px auto auto;
            height: 26px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 20px;
            color: tomato;
            transition: .3s;
            cursor: pointer;
    }

    #userNum,
    #createDni,
    #createOld {
        width: calc((25vw - 66px) - ((25vw - 92px) / 3));
    }

    #userNum, #createOld {
        color: $blue;
    }
    
    label[for="userSex"] {
        width: 200px;
        height: 50px;
        display: flex;
        justify-content: center;
        overflow: visible;
        span {
            width: 200px;
            display: flex;
            justify-content: center;
        }
        input {
            max-width: 20px;
            height: 20px;
            margin: 0;
            background: transparent;
            box-shadow: none;
        }
        label {
            font-size: 14px;
            margin-left: 5px;
        }
    }

    #createDay,
    #createMonth,
    #createYear {
        width: calc((25vw - 92px) / 3);
    }

    .create-user-bot {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    pre {
        margin-bottom: 20px;
    }

    .go-create {
        background: $blue;
        color: #fff;
        margin-bottom: -5px;
    }
}

.go-close {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 85px;
    height: 39px;
    background: tomato;
    color: $white;
    &:hover{
        transform: rotateY(180deg);
        p {
            transform: rotateY(180deg);
        }
    }
}

.temporada {
    position: fixed;
    top: 20px;
    left: 80px;
    font-size: 24px;
    font-weight: 600;
    color: $grey;
}

.show-modal {
    opacity: 1;
    z-index: 0;
}

.loader {
    position: fixed;
    top: 0;
    left: 60px;
    width: calc(100% - 60px);
    height: 100%;
    background: $white;
    display: none;
    justify-content: center;
    align-items: center;
    i {
        font-size: 80px;
        color: $blue;
        animation: spinner 2s infinite;
    }
}