.landing-box {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    padding: 40px;
}

.land-top {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 110px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    transition: 1s;
    z-index: 99;
    animation: comeTop 1gits;
    img {
        height: 100%;
    }
    .top-btns {
        display: flex;
        align-items: center;
    }
    
    .mas-info {
        color: $grey;
        margin-right: 40px;
    }
    
    .go-iniciar {
        border: 1px solid $grey;
        color: $grey;
    }
}

.land-left {
    position: fixed;
    left: 0;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 50px;
    transition: 1s;
    animation: comeLeft 1s;
    h1 {
        max-width: 500px;
        font-size: 60px;
        margin-bottom: 10px;
    }
    h2 {
        max-width: 600px;
        font-size: 18px;
        color: $grey;
        font-weight: 300;
        line-height: 1.5;
        margin-bottom: 20px;
    }
    .go-plan {
        width: 150px;
        background: $orange;
        color: #fff;
        text-align: center;
    }
}

.land-right {
    position: fixed;
    right: 0;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-bottom: 50px;
    transition: 1s;
    animation: comeRight 1s;
    img {
        height: 70%;
    }
}

.land-bot {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    text-align: center;
    transition: 1s;
    z-index: 99;
    animation: comeBot 1s;
}