.login-box {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: goIn .5s;
    .logo {
        position: fixed;
        top: 20px;
        left: 20px;
        height: 70px;
        cursor: pointer;
    }
    h1 {
        margin-bottom: 20px;
    }
    input{
        width: 80%;
        max-width: 400px;
        height: 60px;
        margin-bottom: 20px;
        padding: 20px;
        border: 1px solid $grey;
        border-radius: 30px;
        outline: none;
        &:focus {
            border: 2px solid $blue;
        }
    }
    .go-entrar {
        background: $orange;
        color: #fff;
    }
    pre {
        height: 50px;
        margin-top: 40px;
    }
}

@keyframes goIn {
    from {transform: scale(0,0)}
    to {transform: scale(1,1)}
}