@import './assets';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Fira Sans';
    image-rendering: crisp-edges;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    animation-timing-function: ease-out;
}
    
html, body, main {
    width: 100vw;
    height: 100%;
    overflow-x: hidden;
}

main {
    background: url('../assets/img/background.png') no-repeat center bottom;
    background-size: cover;
}

a {
    color: $blue;
}

@import './landing';
@import './login';
@import './admin';
@import './create-user';
@import './open-user';